<!DOCTYPE html>
<html ng-app="JavabAzmayesh" ng-controller="MasterController">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="سامانه اینترنتی دریافت نتایج آزمایشگاهی">
    <meta name="keywords" content="آزمایش,نتیجه,جواب,آنلاین,اینترنتی,پزشکی,طبی,جواب آزمایش">
    <meta name="author" content="Hessam A Shokravi">
    <meta name="robots" content="index, noarchive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>جواب آزمایش - سامانه اینترنتی دریافت نتایج آزمایشگاهی</title>

    <!--<base href="/">-->
    <link rel="shortcut icon" type="image/png" href="/img/Logo/Logo - 256.png" />

    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded&hl=fa" async defer></script>

    <!-- CSS files will be loaded dynamically -->
    <!--<link rel="stylesheet" type="text/css" href="/dist/lib.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/dist/app__APP_SOURCES_MINIFIED_INDICATOR__.css">-->
</head>

<body>

    <!-- import:./app/view/layout.html -->

    <!-- import:./app/view/resource-loader.js.html -->

    <script>
        /*global resourceLoader*/

        // Load CSS files dynamically
        resourceLoader('/dist/lib.min.css');
        resourceLoader('/dist/app__APP_SOURCES_MINIFIED_INDICATOR__.css');

        // Do NOT load JS files dynamically
        // resourceLoader('/dist/lib.min.js');
        // resourceLoader('/dist/app__APP_SOURCES_MINIFIED_INDICATOR__.js');
    </script>

    <!-- JS files will NOT be loaded dynamically -->
    <script type="text/javascript" src="/dist/lib.min.js"></script>
    <script type="text/javascript" src="/dist/app__APP_SOURCES_MINIFIED_INDICATOR__.js"></script>
    <script type="text/javascript" src="/config"></script>

    <!-- import:./app/view/partials.html -->

</body>

</html>
