<!DOCTYPE html>
<html ng-app="JavabAzmayesh" ng-controller="MasterController">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="سامانه اینترنتی دریافت نتایج آزمایشگاهی">
    <meta name="keywords" content="آزمایش,نتیجه,جواب,آنلاین,اینترنتی,پزشکی,طبی,جواب آزمایش">
    <meta name="author" content="Hessam A Shokravi">
    <meta name="robots" content="index, noarchive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>جواب آزمایش - سامانه اینترنتی دریافت نتایج آزمایشگاهی</title>

    <!--<base href="/">-->
    <link rel="shortcut icon" type="image/png" href="/img/icon-64.png" />

    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded&hl=fa" async defer></script>

    <!-- CSS files will be loaded dynamically -->
    <!--<link rel="stylesheet" type="text/css" href="/dist/lib.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/dist/app.min.css">-->
</head>

<body>

    <!-- import:./app/view/layout.html -->

    <!-- import:./app/view/partials.html -->

    <script>
        function loadJsFile(filename, callback) {
            if (loadJsFile.loadedFiles.indexOf(filename) >= 0)
                return typeof callback === 'function' && setTimeout(callback);
            loadJsFile.loadedFiles.push(filename);
            var element = document.createElement('script');
            element.setAttribute("type", "text/javascript");
            element.setAttribute("src", filename);
            if (typeof callback === 'function') {
                var calledBack = false;
                element.onload = element.onreadystatechange = function() {
                    if (calledBack) return;
                    calledBack = true;
                    callback();
                };
            }
            document.getElementsByTagName("body")[0].appendChild(element);
        }
        loadJsFile.loadedFiles = [];

        function loadCssFile(filename, callback) {
            if (loadCssFile.loadedFiles.indexOf(filename) >= 0)
                return typeof callback === 'function' && setTimeout(callback);
            loadCssFile.loadedFiles.push(filename);
            var element = document.createElement("link");
            element.setAttribute("rel", "stylesheet");
            element.setAttribute("type", "text/css");
            element.setAttribute("href", filename);
            if (typeof callback === 'function')
                element.onload = callback;
            document.getElementsByTagName("head")[0].appendChild(element);
        }
        loadCssFile.loadedFiles = [];

        // Load CSS files dynamically
        loadCssFile('/dist/lib.min.css');
        loadCssFile('/dist/app.css');

        // Do NOT load JS files dynamically
        // loadJsFile('/dist/lib.min.js');
        // loadJsFile('/dist/app.min.js');
    </script>

    <!-- JS files will NOT be loaded dynamically -->
    <script type="text/javascript" src="/dist/lib.min.js"></script>
    <script type="text/javascript" src="/dist/app.js"></script>
    <script type="text/javascript" src="/config"></script>

</body>

</html>