<!DOCTYPE html>
<html>

<head>
    <title>HTML Page</title>
    <link rel="stylesheet" type="text/css" href="/dist/lib.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/app.min.css">

</head>

<body>

    <div ng-app="test" ng-controller="ctrl">
        <h1>Azmayeshgah</h1>
        <p>Hello everybody !!</p>
        <p>{{data}}</p>
    </div>


    <script type="text/javascript" src="/dist/lib.min.js"></script>
    <script type="text/javascript" src="/dist/app.min.js"></script>
</body>

</html>
