<!-- import:./app/view/ja-initial-loader.css.html -->

<div id="ja-initial-loader-background"></div>
<div id="ja-initial-loader">
    <bdi>لطفا کمی صبر کنید...</bdi>
</div>

<div id="ja-sidebar-menu" class="ui --thin right sidebar --inverted vertical menu ja-screen">
    <div class="item">
        <img class="ui centered small image ja-menu-logo" src="/img/Logo/Semi-Full Logo - 600.png" ng-click="showDeveloperModal()" alt="جواب آزمایش" />
    </div>
    <div ui-view="menu">
        <!-- Main sidebar menu items -->
    </div>
</div>
<div class="dimed pusher" id="ja-main-site-content">
    <!-- Main site contents -->

    <!-- Back arrow and menu bars icon (when no header, outside of it) -->
    <img ng-if="backHandler && !headerHandlers" id="ja-free-back-arrow" class="ja-item ja-icon ja-clickable ja-left ja-screen" ng-src="{{iconJs('left arrow')}}" alt="<- Back" ng-click="backHandler()"></img>
    <img ng-if="menuHandlers && !headerHandlers" id="ja-free-menu-bars" class="ja-item ja-icon ja-clickable ja-right ja-screen" ng-src="{{iconJs('menu bars')}}" alt="Menu" ng-click="toggleMenu()"></img>

    <!-- Header -->
    <div ng-if="headerHandlers" id="ja-header" class="ui fixed top sticky segment ja-screen">

        <!-- Back arrow and menu bars icon (when header, inside of it) -->
        <img ng-if="backHandler" class="ja-item ja-icon ja-hoverable ja-clickable ja-left" ng-src="{{iconJs('left arrow')}}" alt="<- Back" ng-click="backHandler()"></img>
        <img ng-if="menuHandlers" class="ja-item ja-icon ja-hoverable ja-clickable ja-right" ng-src="{{iconJs('menu bars')}}" alt="Menu" ng-click="toggleMenu()"></img>

        <div ui-view="header">
            <!-- Header contents -->
        </div>
    </div>

    <!-- Footer -->
    <div ng-if="footerHandlers" id="ja-footer" class="ui fixed bottom sticky segment ja-screen">
        <div ui-view="footer">
            <!-- Footer contents -->
        </div>
    </div>

    <!-- Main content -->
    <div id="ja-main-content">
        <div ng-if="headerHandlers" id="ja-main-content-header-placeholder" class=" ja-screen"></div>

        <div ui-view>
            <!-- Main view contents -->
        </div>

        <!-- import:./app/view/partials/modals.html -->

        <div ng-if="footerHandlers" id="ja-main-content-footer-placeholder" class=" ja-screen"></div>
    </div>

</div>

<script>
    document.getElementById('ja-sidebar-menu').style.display = 'none';
    document.getElementById('ja-main-site-content').style.display = 'none';
</script>
    