<script type="text/ng-template" id="developer.html">
    <!-- import:./app/view/partials/developer.html -->
</script>

<script type="text/ng-template" id="common/about.html">
    <!-- import:./app/view/partials/common/about.html -->
</script>

<script type="text/ng-template" id="common/contact.html">
    <!-- import:./app/view/partials/common/contact.html -->
</script>

<script type="text/ng-template" id="home.html">
    <!-- import:./app/view/partials/home.html -->
</script>

<script type="text/ng-template" id="home/menu.html">
    <!-- import:./app/view/partials/home/menu.html -->
</script>

<script type="text/ng-template" id="home/footer.html">
    <!-- import:./app/view/partials/home/footer.html -->
</script>

<script type="text/ng-template" id="home/find.html">
    <!-- import:./app/view/partials/home/find.html -->
</script>

<script type="text/ng-template" id="home/otp.html">
    <!-- import:./app/view/partials/home/otp.html -->
</script>

<script type="text/ng-template" id="home/history.html">
    <!-- import:./app/view/partials/home/history.html -->
</script>

<script type="text/ng-template" id="history.html">
    <!-- import:./app/view/partials/history.html -->
</script>

<script type="text/ng-template" id="history/header.html">
    <!-- import:./app/view/partials/history/header.html -->
</script>

<script type="text/ng-template" id="answer.html">
    <!-- import:./app/view/partials/answer.html -->
</script>

<script type="text/ng-template" id="answer/menu.html">
    <!-- import:./app/view/partials/answer/menu.html -->
</script>

<script type="text/ng-template" id="answer/header.html">
    <!-- import:./app/view/partials/answer/header.html -->
</script>

<script type="text/ng-template" id="answer/footer.html">
    <!-- import:./app/view/partials/answer/footer.html -->
</script>

<script type="text/ng-template" id="answer/post.html">
    <!-- import:./app/view/partials/answer/post.html -->
</script>

<script type="text/ng-template" id="answer/download.html">
    <!-- import:./app/view/partials/answer/download.html -->
</script>

<script type="text/ng-template" id="answer/share.html">
    <!-- import:./app/view/partials/answer/share.html -->
</script>

<script type="text/ng-template" id="answer/laboratory.html">
    <!-- import:./app/view/partials/answer/laboratory.html -->
</script>

<script type="text/ng-template" id="answer/about.html">
    <!-- import:./app/view/partials/answer/about.html -->
</script>

<script type="text/ng-template" id="answer/contact.html">
    <!-- import:./app/view/partials/answer/contact.html -->
</script>

<script type="text/ng-template" id="lab.html">
    <!-- import:./app/view/partials/lab.html -->
</script>

<script type="text/ng-template" id="lab/menu.html">
    <!-- import:./app/view/partials/lab/menu.html -->
</script>

<script type="text/ng-template" id="lab/footer.html">
    <!-- import:./app/view/partials/lab/footer.html -->
</script>

<script type="text/ng-template" id="lab/login.html">
    <!-- import:./app/view/partials/lab/login.html -->
</script>

<script type="text/ng-template" id="lab/forget.html">
    <!-- import:./app/view/partials/lab/forget.html -->
</script>

<script type="text/ng-template" id="lab/password.html">
    <!-- import:./app/view/partials/lab/password.html -->
</script>

<script type="text/ng-template" id="lab/register.html">
    <!-- import:./app/view/partials/lab/register.html -->
</script>

<script type="text/ng-template" id="lab/validate.html">
    <!-- import:./app/view/partials/lab/validate.html -->
</script>

<script type="text/ng-template" id="lab/signedup.html">
    <!-- import:./app/view/partials/lab/signedup.html -->
</script>

<script type="text/ng-template" id="panel.html">
    <!-- import:./app/view/partials/panel.html -->
</script>

<script type="text/ng-template" id="panel/menu.html">
    <!-- import:./app/view/partials/panel/menu.html -->
</script>

<script type="text/ng-template" id="panel/header.html">
    <!-- import:./app/view/partials/panel/header.html -->
</script>

<script type="text/ng-template" id="panel/home.html">
    <!-- import:./app/view/partials/panel/home.html -->
</script>

<script type="text/ng-template" id="panel/history.html">
    <!-- import:./app/view/partials/panel/history.html -->
</script>

<script type="text/ng-template" id="panel/acceptance.html">
    <!-- import:./app/view/partials/panel/acceptance.html -->
</script>

<script type="text/ng-template" id="panel/patient.html">
    <!-- import:./app/view/partials/panel/patient.html -->
</script>

<script type="text/ng-template" id="panel/post.html">
    <!-- import:./app/view/partials/panel/post.html -->
</script>

<script type="text/ng-template" id="panel/send.html">
    <!-- import:./app/view/partials/panel/send.html -->
</script>

<script type="text/ng-template" id="panel/balance.html">
    <!-- import:./app/view/partials/panel/balance.html -->
</script>

<script type="text/ng-template" id="panel/account.html">
    <!-- import:./app/view/partials/panel/account.html -->
</script>

<script type="text/ng-template" id="panel/account/summary.html">
    <!-- import:./app/view/partials/panel/account/summary.html -->
</script>

<script type="text/ng-template" id="panel/account/edit.html">
    <!-- import:./app/view/partials/panel/account/edit.html -->
</script>

<script type="text/ng-template" id="panel/account/password.html">
    <!-- import:./app/view/partials/panel/account/password.html -->
</script>

<script type="text/ng-template" id="panel/account/confirm.html">
    <!-- import:./app/view/partials/panel/account/confirm.html -->
</script>

<script type="text/ng-template" id="panel/about.html">
    <!-- import:./app/view/partials/panel/about.html -->
</script>

<script type="text/ng-template" id="panel/contact.html">
    <!-- import:./app/view/partials/panel/contact.html -->
</script>

<script type="text/ng-template" id="admin.html">
    <!-- import:./app/view/partials/admin.html -->
</script>

<script type="text/ng-template" id="admin/menu.html">
    <!-- import:./app/view/partials/admin/menu.html -->
</script>

<script type="text/ng-template" id="admin/header.html">
    <!-- import:./app/view/partials/admin/header.html -->
</script>

<script type="text/ng-template" id="admin/home.html">
    <!-- import:./app/view/partials/admin/home.html -->
</script>

<script type="text/ng-template" id="admin/laboratory.html">
    <!-- import:./app/view/partials/admin/laboratory.html -->
</script>

<script type="text/ng-template" id="admin/patient.html">
    <!-- import:./app/view/partials/admin/patient.html -->
</script>

<script type="text/ng-template" id="admin/sms.html">
    <!-- import:./app/view/partials/admin/sms.html -->
</script>
