<script type="text/ng-template" id="home.html">
    <!-- import:./app/view/partials/home.html -->
</script>

<script type="text/ng-template" id="home/menu.html">
    <!-- import:./app/view/partials/home/menu.html -->
</script>

<script type="text/ng-template" id="home/footer.html">
    <!-- import:./app/view/partials/home/footer.html -->
</script>

<script type="text/ng-template" id="home/find.html">
    <!-- import:./app/view/partials/home/find.html -->
</script>

<script type="text/ng-template" id="home/otp.html">
    <!-- import:./app/view/partials/home/otp.html -->
</script>

<script type="text/ng-template" id="home/history.html">
    <!-- import:./app/view/partials/home/history.html -->
</script>

<script type="text/ng-template" id="home/about.html">
    <!-- import:./app/view/partials/home/about.html -->
</script>

<script type="text/ng-template" id="home/contact.html">
    <!-- import:./app/view/partials/home/contact.html -->
</script>

<script type="text/ng-template" id="history.html">
    <!-- import:./app/view/partials/history.html -->
</script>

<script type="text/ng-template" id="history/header.html">
    <!-- import:./app/view/partials/history/header.html -->
</script>

<script type="text/ng-template" id="answer.html">
    <!-- import:./app/view/partials/answer.html -->
</script>

<script type="text/ng-template" id="answer/menu.html">
    <!-- import:./app/view/partials/answer/menu.html -->
</script>

<script type="text/ng-template" id="answer/header.html">
    <!-- import:./app/view/partials/answer/header.html -->
</script>

<script type="text/ng-template" id="answer/footer.html">
    <!-- import:./app/view/partials/answer/footer.html -->
</script>

<script type="text/ng-template" id="lab.html">
    <!-- import:./app/view/partials/lab.html -->
</script>

<script type="text/ng-template" id="lab/menu.html">
    <!-- import:./app/view/partials/lab/menu.html -->
</script>

<script type="text/ng-template" id="lab/footer.html">
    <!-- import:./app/view/partials/lab/footer.html -->
</script>

<script type="text/ng-template" id="lab/login.html">
    <!-- import:./app/view/partials/lab/login.html -->
</script>
