<div id="ja-panel-balance">

    <div class="ui centered grid">
        <div class="twelve wide small eight wide tablet six wide computer column">
            <div class="center aligned row ltr">

                <div class="ui right floated {{balanceColor}} tiny statistic">
                    <div class="label">
                        <span class="nazanin">اعتبار باقیمانده</span>
                    </div>
                    <div class="value">
                        <bdi><span class="nazanin" ng-bind="balanceForDisplay | currencySeparator"></span></bdi>
                    </div>
                    <div class="label">
                        <span class="nazanin">تومان</span>
                    </div>
                </div>

                <div class="ui left floated {{balanceColor}} tiny statistic">
                    <div class="label">
                        <span class="nazanin">معادل ارسال</span>
                    </div>
                    <div class="value">
                        <bdi><span class="nazanin" ng-bind="testCountForDisplay"></span></bdi>
                    </div>
                    <div class="label">
                        <span class="nazanin">آزمایش</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ui horizontal divider">
        <span class="nazanin">شارژ حساب</span>
    </div>

    <div class="ui centered grid">
        <div class="twelve wide small eight wide tablet six wide computer column">
            <div class="center aligned row ltr">

                <form class="ui {{ preparingPayment ? 'loading' : '' }} form">

                    <p class="nazanin">
                        <bdi>پرداخت از طریق کارت به کارت:</bdi>
                    </p>
                    <p class="nazanin">
                        <bdi>بانک ملت: <strong><bdi>۶۱۰۴ - ۳۳۷۹ - ۷۳۸۴ - ۹۷۱۲</bdi></strong>
                        </bdi>
                    </p>
                    <p class="nazanin">
                        <bdi>به نام: <strong>حسام الدین امین شکروی</strong></bdi>
                    </p>

                    <div class="field" ng-class="{'error': vs.error('c2cReceiptCode')}">
                        <label class="nazanin">کد پیگیری پرداخت</label>
                        <div class="ui input">
                            <input type="text" ng-model="c2cReceiptCode" ng-change="vs.check('c2cReceiptCode'); loadPatientInfo()" class="ja-align-left" placeholder="123456">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('c2cReceiptCode')" ng-bind="vs.error('c2cReceiptCode')"></div>
                    </div>
                    
                    <div class="field">
                        <button class="fluid ui --basic blue button" ng-click="c2cPayment()">
                            <span class="nazanin">ثبت تراکنش</span>
                        </button>
                    </div>

                    <div class="ui horizontal divider">
                        <span class="nazanin">یا</span>
                    </div>

                    <p class="nazanin">
                        <bdi>پرداخت از طریق درگاه پرداخت الکترونیکی <strong>زرین پال</strong>:</bdi>
                    </p>

                    <div class="field">
                        <label class="nazanin"><bdi>مبلغ مورد نظر (تومان)</bdi></label>
                        <div class="ui disabled input">
                            <input type="text" ng-model="zpChargeAmount" placeholder="مبلغ شارژ به تومان">
                        </div>
                    </div>
                    
                    <div class="field">
                        <button class="disabled fluid ui --basic blue button" ng-click="zpPayment()">
                            <span class="nazanin">ورود به درگاه پرداخت</span>
                        </button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>

</div>