<div id="ja-panel-history" class="ui basic segment">

    <div class="ui text menu" id="ja-panel-history-filter-menu">

        <div class="item ja-not-small-display">
            <div class="ui input">
                <input type="tel" ng-model="nationalCode" class="ja-filter" ng-class="{'ja-align-left': nationalCode, 'nazanin': !nationalCode}" placeholder="کد ملی" title="کد ملی">
            </div>
        </div>

        <div class="item ja-not-small-display">
            <bdi class="nazanin">جستجو:</bdi>
        </div>

        <div class="right menu">

            <div class="ui dropdown item" id="select-month-to">
                <img class="ja-dropdown-sign" ng-src="{{ iconJs('down triangle') }}">
                <span class="text nazanin" ng-bind="selectedMonthToText"></span> &nbsp;
                <strong><bdi class="nazanin">تا</bdi></strong>
                <div class="menu">
                    <div class="item nazanin ja-align-right" ng-repeat="month in persianMonths" data-value="{{ $index + 1 }}" ng-bind="month"></div>
                </div>
            </div>

            <div class="ui dropdown item" id="select-month-from">
                <img class="ja-dropdown-sign" ng-src="{{ iconJs('down triangle') }}">
                <span class="text nazanin" ng-bind="selectedMonthFromText"></span> &nbsp;
                <strong><bdi class="nazanin">از</bdi></strong>
                <div class="menu">
                    <div class="item nazanin ja-align-right" ng-repeat="month in persianMonths" data-value="{{ $index + 1 }}" ng-bind="month"></div>
                </div>
            </div>

            <div class="ui dropdown item" id="select-year">
                <img class="ja-dropdown-sign" ng-src="{{ iconJs('down triangle') }}">
                <span class="text nazanin" ng-bind="selectedYear | toPersianNumber"></span> &nbsp;
                <strong><bdi class="nazanin">سال</bdi></strong>
                <div class="menu">
                    <div class="item nazanin ja-align-left" ng-repeat="year in allYears" data-value="{{year}}" ng-bind="year | toPersianNumber"></div>
                </div>
            </div>

        </div>

    </div>

    <div class="ui text menu ja-small-display" id="ja-panel-history-search-menu">

        <div class="item">
            <div class="ui input">
                <input type="tel" ng-model="nationalCode" class="ja-filter" ng-class="{'ja-align-left': nationalCode, 'nazanin': !nationalCode}" placeholder="کد ملی" title="کد ملی">
            </div>
        </div>

        <div class="item">
            <bdi class="nazanin">جستجو:</bdi>
        </div>

    </div>

    <!-- https://github.com/pioug/md-virtual-repeater -->
    <!--<md-virtual-repeat-container class="ui cards" md-top-index="topPostIndex">-->
    <!--    <div class="ui link fluid raised blue card" md-virtual-repeat="post in posts" md-item-size="92.15" ng-click="postClicked(post)">-->
    <div class="ui basic segment" id="ja-panel-history-scrolling-container">

        <div class="ui centered grid">
            <div class="fourteen wide small eight wide tablet six wide computer column">

                <div table-list-container="380px" initialiy-right>
                    <table class="ja-panel-history-table">
                        <tbody>
                            <tr ng-repeat="post in posts | filter: { nationalCode: nationalCode } | limitTo: maxCount as filteredPosts track by $index" ng-click="postClicked(post)">
                                <td fa l>{{ post.postCode | toPersianNumber }}</td>
                                <td fa c>
                                    <span ng-if="post.filesCount">فایل</span>
                                    <bdi><strong>{{ (post.filesCount || null) | emptyCheck | toPersianNumber }}</strong></bdi>
                                </td>
                                <td fa c>{{ post.postDate | toPersianDate: "hh:mm" }}</td>
                                <td fa c>{{ post.postDate | toPersianDate: "dddd" }}</td>
                                <td fa c>{{ post.postDate | toPersianDate: "YYYY/MM/DD" }}</td>
                                <td fa r b>{{ post.nationalCode | toPersianNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div ng-show="posts.length > maxCount">
            <br/>
            <p class="nazanin ja-rtl ja-align-right">پُست های بیشتری هم وجود دارند...</p>
            <p class="nazanin ja-rtl ja-align-right">برای مشاهده همه آن ها لطفاً جستجوی خود را محدودتر کنید.</p>
        </div>

        <div ng-hide="filteredPosts.length">
            <p class="nazanin ja-rtl ja-align-right">موردی یافت نشد.</p>
        </div>

    </div>
    <!--    </div>-->
    <!--</md-virtual-repeat-container>-->

</div>
