<div id="ja-panel-history" class="ui basic segment">

    <div class="ui text menu" id="ja-panel-history-filter-menu">

        <div class="right menu">

            <div class="ui dropdown item" id="select-month-to">
                <img class="ja-dropdown-sign" ng-src="{{ iconJs('down triangle') }}">
                <span class="text nazanin" ng-bind="selectedMonthToText"></span> &nbsp;
                <strong><bdi class="nazanin">تا</bdi></strong>
                <div class="menu">
                    <div class="item nazanin" ng-repeat="month in persianMonths" data-value="{{ $index + 1 }}" ng-bind="month"></div>
                </div>
            </div>

            <div class="ui dropdown item" id="select-month-from">
                <img class="ja-dropdown-sign" ng-src="{{ iconJs('down triangle') }}">
                <span class="text nazanin" ng-bind="selectedMonthFromText"></span> &nbsp;
                <strong><bdi class="nazanin">از</bdi></strong>
                <div class="menu">
                    <div class="item nazanin" ng-repeat="month in persianMonths" data-value="{{ $index + 1 }}" ng-bind="month"></div>
                </div>
            </div>

            <div class="ui dropdown item" id="select-year">
                <img class="ja-dropdown-sign" ng-src="{{ iconJs('down triangle') }}">
                <span class="text nazanin" ng-bind="selectedYear | toPersianNumber"></span> &nbsp;
                <strong><bdi class="nazanin">سال</bdi></strong>
                <div class="menu">
                    <div class="item nazanin" ng-repeat="year in allYears" data-value="{{year}}" ng-bind="year | toPersianNumber"></div>
                </div>
            </div>

        </div>

    </div>

    <!-- https://github.com/pioug/md-virtual-repeater -->
    <!--<md-virtual-repeat-container class="ui cards" md-top-index="topPostIndex">-->
    <!--    <div class="ui link fluid raised blue card" md-virtual-repeat="post in posts" md-item-size="92.15" ng-click="postClicked(post)">-->
    <div class="ui basic segment" id="ja-panel-history-scrolling-container">

        <div class="ui cards">
            <div class="ui link fluid raised blue card" ng-repeat="post in posts | limitTo: 100 track by $index" ng-click="postClicked(post)">

                <div class="content">
                    <div class="header">{{ post.nationalCode | toPersianNumber }}</div>
                    <div class="meta">
                        <span class="category">{{ post.postDate | toPersianDate: "dddd - YYYY/MM/DD - h:mm:ss a" }}</span>
                    </div>
                    <div class="description">
                        <strong><p ng-bind="post.postCode | toPersianNumber"></p></strong>
                        <p ng-if="post.filesCount"><strong>{{ post.filesCount | toPersianNumber }}</strong> فایل پیوست</p>
                    </div>
                </div>
                <!--<div class="extra content">-->
                <!--    <div class="right floated author">-->
                <!--        <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> Matt-->
                <!--    </div>-->
                <!--</div>-->

            </div>
        </div>

        <div ng-show="posts.length > 100">
            <br/>
            <p class="nazanin ja-rtl ja-align-right">پُست های بیشتری هم وجود دارند... برای مشاهده همه آن ها لطفاً جستجوی خود را محدودتر کنید.</p>
        </div>

    </div>
    <!--    </div>-->
    <!--</md-virtual-repeat-container>-->

</div>