<div id="ja-panel-home">

    <!--TODO: messages -->

    <div class="ui centered grid">
        <div class="twelve wide small eight wide tablet six wide computer column">
            <div class="center aligned row ltr">

                <div class="ui blue raised fluid link card" ng-click="menuHandlers.goToSendResults()">
                    <div class="content">
                        <div class="header">
                            Send
                        </div>
                        <div class="meta">
                            Meta data
                        </div>
                        <div class="description">
                            This is some description about it.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">Extra contents</span>
                    </div>
                </div>

                <div class="ui green raised fluid link card" ng-click="menuHandlers.goToResultsHistory()">
                    <div class="content">
                        <div class="header">
                            History
                        </div>
                        <div class="meta">
                            Meta data
                        </div>
                        <div class="description">
                            This is some description about it.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">Extra contents</span>
                    </div>
                </div>

                <div class="ui olive raised fluid link card" ng-click="menuHandlers.goToChargeAccount()">
                    <div class="content">
                        <div class="header">
                            Charge
                        </div>
                        <div class="meta">
                            Meta data
                        </div>
                        <div class="description">
                            This is some description about it.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">Extra contents</span>
                    </div>
                </div>

                <div class="ui yellow raised fluid link card" ng-click="menuHandlers.goToUserAccount()">
                    <div class="content">
                        <div class="header">
                            User Info
                        </div>
                        <div class="meta">
                            Meta data
                        </div>
                        <div class="description">
                            This is some description about it.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">Extra contents</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>