<div id="ja-panel-home">

    <!--TODO: messages -->

    <div class="ui centered grid">
        <div class="twelve wide small eight wide tablet six wide computer column">
            <div class="center aligned row ltr">

                <div class="ui violet raised fluid link card" ng-click="menuHandlers.goToAcceptPatient()">
                    <div class="content">
                        <div class="header nazanin">
                            پذیرش بیمار
                        </div>
                        <div class="description nazanin">
                            ثبت یا به روز رسانی اطلاعات و پذیرش بیماران
                        </div>
                    </div>
                </div>

                <div class="ui blue raised fluid link card" ng-click="menuHandlers.goToSendResults()">
                    <div class="content">
                        <div class="header nazanin">
                            ثبت نتایج
                        </div>
                        <div class="description nazanin">
                            ثبت و ارسال نتایج آزمایش برای بیمار
                        </div>
                    </div>
                </div>

                <div class="ui teal raised fluid link card" ng-click="menuHandlers.goToAcceptancesHistory()">
                    <div class="content">
                        <div class="header nazanin">
                            بیماران پذیرش شده
                        </div>
                        <div class="description nazanin">
                            مشاهده و جستجوی بیماران پذیرش شده
                        </div>
                    </div>
                </div>

                <div class="ui green raised fluid link card" ng-click="menuHandlers.goToResultsHistory()">
                    <div class="content">
                        <div class="header nazanin">
                            نتایج ثبت شده
                        </div>
                        <div class="description nazanin">
                            مشاهده و جستجوی نتایج آزمایش ثبت شده
                        </div>
                    </div>
                </div>

                <div class="ui olive raised fluid link card" ng-click="menuHandlers.goToChargeAccount()">
                    <div class="content">
                        <div class="header nazanin">
                            تأمین اعتبار
                        </div>
                        <div class="description nazanin">
                            شارژ از طریق کارت های عضو شبکه شتاب
                        </div>
                    </div>
                </div>

                <div class="ui yellow raised fluid link card" ng-click="menuHandlers.goToUserAccount()">
                    <div class="content">
                        <div class="header nazanin">
                            حساب کاربری
                        </div>
                        <div class="description nazanin">
                            مشاهده و ویرایش اطلاعات کاربری و تغییر رمز عبور
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--TODO: messages -->

    <!--<div class="ui centered grid">-->
    <!--    <div class="twelve wide small eight wide tablet six wide computer column">-->
    <!--        <div class="center aligned row ltr">-->

    <!--            <div class="ui blue raised fluid link card" ng-click="menuHandlers.goToSendResults()">-->
    <!--                <div class="content">-->
    <!--                    <div class="header nazanin">-->
    <!--                        ارسال نتایج-->
    <!--                    </div>-->
    <!--                    <div class="meta nazanin">-->
    <!--                        آخرین پُست در تاریخ -------------- و ساعت ----------- ارسال شده است-->
    <!--                    </div>-->
    <!--                    <div class="description nazanin">-->
    <!--                        ارسال نتایج آزمایش برای بیمار شامل انواع فایل و توضیحات-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="extra content">-->
    <!--                    <span class="right floated nazanin">-->
    <!--                        شما شارژ کافی برای ارسال-->
    <!--                        <strong ng-bind="{{ '125' }}"></strong>-->
    <!--                        پُست را دارید-->
    <!--                    </span>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="ui green raised fluid link card" ng-click="menuHandlers.goToResultsHistory()">-->
    <!--                <div class="content">-->
    <!--                    <div class="header nazanin">-->
    <!--                        نتایج ارسال شده-->
    <!--                    </div>-->
    <!--                    <div class="meta nazanin">-->
    <!--                        در ماه جاری-->
    <!--                        <strong ng-bind="{{ '389' }}"></strong> نتیجه آزمایش ثبت شده است-->
    <!--                    </div>-->
    <!--                    <div class="description nazanin">-->
    <!--                        مشاهده و جستجوی نتایج آزمایش ثبت شده این آزمایشگاه-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="extra content">-->
    <!--                    <span class="right floated nazanin">-->
    <!--                        شما امکان مشاهده، جستجو، به روز رسانی و حذف نتایج را دارید-->
    <!--                    </span>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="ui olive raised fluid link card" ng-click="menuHandlers.goToChargeAccount()">-->
    <!--                <div class="content">-->
    <!--                    <div class="header nazanin">-->
    <!--                        شارژ حساب-->
    <!--                    </div>-->
    <!--                    <div class="meta nazanin">-->
    <!--                        آخرین شارژ حساب در تاریخ ------------ بوده است-->
    <!--                    </div>-->
    <!--                    <div class="description nazanin">-->
    <!--                        شارژ از طریق کارت های عضو شبکه شتاب و درگاه پرداخت زرین پال-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="extra content">-->
    <!--                    <span class="right floated nazanin">-->
    <!--                        شارژ باقیمانده برابر-->
    <!--                        <strong ng-bind="{{ '125000' }}"></strong>-->
    <!--                        تومان است-->
    <!--                    </span>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="ui yellow raised fluid link card" ng-click="menuHandlers.goToUserAccount()">-->
    <!--                <div class="content">-->
    <!--                    <div class="header nazanin">-->
    <!--                        حساب کاربری-->
    <!--                    </div>-->
    <!--                    <div class="meta nazanin">-->
    <!--                        آخرین عملیات به روز رسانی در تاریخ ----------- و ساعت --------- بوده است-->
    <!--                    </div>-->
    <!--                    <div class="description nazanin">-->
    <!--                        مشاهده و ویرایش اطلاعات حساب کاربری و تغییر رمز عبور-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="extra content">-->
    <!--                    <span class="right floated nazanin">-->
    <!--                        شما در تاریخ -------- به سامانه جواب آزمایش پیوسته اید-->
    <!--                    </span>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

</div>
