<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToMainPage(); toggleMenu()">
    صفحه اصلی
    <img class="ja-menu-item-icon" ng-src="{{iconJs('home')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToUpdatePatient(); toggleMenu()">
    ثبت بیمار
    <img class="ja-menu-item-icon" ng-src="{{iconJs('patient')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToSendResults(); toggleMenu()">
    ارسال نتایج
    <img class="ja-menu-item-icon" ng-src="{{iconJs('post')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToResultsHistory(); toggleMenu()">
    سوابق نتایج ثبت شده
    <img class="ja-menu-item-icon" ng-src="{{iconJs('folder')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToChargeAccount(); toggleMenu()">
    تأمین اعتبار
    <img class="ja-menu-item-icon" ng-src="{{iconJs('money')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToUserAccount(); toggleMenu()">
    مشخصات کاربری آزمایشگاه
    <img class="ja-menu-item-icon" ng-src="{{iconJs('user')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToPanelAbout(); toggleMenu()">
    درباره ما
    <img class="ja-menu-item-icon" ng-src="{{iconJs('about us')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToPanelContact(); toggleMenu()">
    تماس با ما
    <img class="ja-menu-item-icon" ng-src="{{iconJs('contact us')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.logout(); toggleMenu()">
    خروج از سامانه
    <img class="ja-menu-item-icon" ng-src="{{iconJs('logout')}}">
</a>

