<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToMainPage(); toggleMenu()">صفحه اصلی</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToSendResults(); toggleMenu()">ارسال نتایج</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToResultsHistory(); toggleMenu()">سوابق نتایج ثبت شده</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToChargeAccount(); toggleMenu()">تأمین اعتبار</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToUserAccount(); toggleMenu()">مشخصات کاربری آزمایشگاه</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.logout(); toggleMenu()">خروج از سامانه</a>
            