<div id="ja-panel-post">

    <div class="ui equal width grid ja-information-grid">

        <div class="row ja-information-row" ng-repeat="tupple in postDataForDisplay">
            <div class="left aligned column">
                <p ng-bind="tupple.value | emptyCheck" class="nazanin ja-information-value"></p>
            </div>
            <div class="right aligned column">
                <p ng-bind="tupple.label" class="nazanin ja-information-label"></p>
            </div>
        </div>

    </div>

    <div class="ui basic segment" ng-if="post.files && post.files.length">

        <a class="ja-link" ng-repeat="file in post.files" ng-href="{{file.url}}" target="_blank">
            <img ng-if="file.material === 'image'" class="ja-link-image" ng-src="{{file.url}}" />
            <img ng-if="file.material !== 'image'" class="ja-link-image" ng-src="{{iconJs.file(file.name)}}" />
            <p class="nazanin ja-link-filename" ng-bind="file.name"></p>
        </a>

    </div>

    <div class="ui segment ja-rtl ja-align-right ja-notes">
        <strong class="nazanin" ng-show="post.notes">توضیحات:</strong>
        <pre class="nazanin ja-rtl ja-align-right" ng-bind="post.notes || '(توضیحات ندارد)'"></pre>
    </div>

    <div class="ui horizontal divider">
        <span class="nazanin">عملیات</span>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui form">

                    <div class="field">
                        <button class="fluid ui basic blue button" ng-click="seePostAsPatient()">
                            <span class="nazanin">مشاهده از دیدگاه کاربر</span>
                        </button>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue disabled button" ng-click="updatePost()">
                            <span class="nazanin">به روز رسانی و ارسال مجدد</span>
                        </button>
                    </div>

                    <div class="field">
                        <button class="fluid ui red button" ng-click="deletePost()">
                            <span class="nazanin">حذف پُست</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
