<div id="ja-panel-send">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>لطفاً اطلاعات زیر را با دقت پُر کنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ sendingAnswer ? 'loading' : '' }} form">

                    <div class="field">
                        <label class="nazanin">نام و نام خانوادگی بیمار</label>
                        <div class="ui input">
                            <input type="text" ng-model="person.fullName" placeholder="نام و نام خانوادگی بیمار">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin">کد ملی بیمار</label>
                        <div class="ui input">
                            <input type="text" ng-model="person.nationalCode" placeholder="کد ملی بیمار">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin">شماره تلفن همراه</label>
                        <div class="ui input">
                            <input type="text" ng-model="person.mobilePhoneNumber" placeholder="09xxxxxxxxx">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin"><bdi>شماره تلفن دوم (اختیاری)</bdi></label>
                        <div class="ui input">
                            <input type="text" ng-model="person.phoneNumber" placeholder="تلفن همراه یا ثابت">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin"><bdi>شماره تلفن سوم (اختیاری)</bdi></label>
                        <div class="ui input">
                            <input type="text" ng-model="person.extraPhoneNumber" placeholder="تلفن همراه یا ثابت">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin"><bdi>آدرس پست الکترونیک (اختیاری)</bdi></label>
                        <div class="ui input">
                            <input type="text" ng-model="person.email" placeholder="yourname@example.com">
                        </div>
                    </div>

                    <div class="ui horizontal divider">
                        <span class="nazanin">آپلود فایل نتایج</span>
                    </div>

                    <div ng-if="files.length" ng-repeat="file in files">
                        <div class="ui teal raised clearing segment ja-preview">
                            <img class="ui small left floated image ja-preview-image" ng-src="{{iconJs(file.srcPreview)}}">
                            <img class="ui small right floated image ja-preview-delete" ng-src="{{iconJs('delete')}}" ng-click="removeFile(file)">
                            <p class="left floated nazanin ja-preview-filename" ng-bind="file.name"></p>

                            <div ng-switch="file.status" class="ja-preview-status">
                                <div ng-switch-when="Preparing" class="nazanin">در حال آماده سازی</div>
                                <div ng-switch-when="Uploading" id="progress-{{file.id}}" class="ui teal progress">
                                    <div class="bar">
                                        <div class="progress"></div>
                                    </div>
                                </div>
                                <div ng-switch-when="Uploaded" class="nazanin"></div>
                                <div ng-switch-default class="nazanin">
                                    ({{file.status}})
                                    <bdi>خطا در ارسال فایل</bdi>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-hide="files.length">
                        <span class="nazanin">لطفاً فایل های نتایج آزمایش را اضافه  کنید</span>
                    </div>

                    <!-- drop files zone -->
                    <div id="drop-zone" class="ui center aligned basic segment">

                        <span id="drop-zone-text" class="nazanin">فایل های نتایج را داخل این کادر بکشید</span>

                        <!-- real input file -->
                        <input id="input-file" type="file" multiple>

                        <!-- custom face of input file -->
                        <div class="field">
                            <button class="fluid ui blue basic button" ng-click="selectFilesDialog()">
                            <span class="nazanin">یا با این دکمه فایل ها را اضافه کنید</span>
                        </button>
                        </div>

                    </div>

                    <div class="ui divider"></div>

                    <div class="field">
                        <label class="nazanin"><bdi>توضیحات</bdi></label>
                        <div class="ui input">
                            <input type="text" ng-model="notes" placeholder="">
                        </div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="sendAnswer()">
                            <span class="nazanin">ارسال نتایج</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <!-- sent answer acknowledgement -->
    <div id="ja-sent-answer-acknowledgement-modal" class="ui modal">
        <div class="header">
            <span class="nazanin">ازسال موفقیت آمیز نتایج آزمایش</span>
        </div>
        <div class="content">
            <span class="nazanin"><bdi>نتایج آزمایش ثبت شده و اطلاع رسانی لازم به بیمار صورت خواهد گرفت.</bdi></span>
        </div>
        <div class="actions">
            <!--<div class="ui cancel button">Cancel</div>-->
            <button class="ui --basic blue ok button">
                <span class="nazanin">تأیید</span>
            </button>
        </div>
    </div>

</div>