<div id="ja-panel-send">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>لطفاً اطلاعات زیر را با دقت پُر کنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ sendingAnswer ? 'loading' : '' }} form">
                    <div class="field">
                        <label class="nazanin">نام و نام خانوادگی</label>
                        <div class="ui input">
                            <input type="text" ng-model="fullName" placeholder="نام و نام خانوادگی">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin">کد ملی</label>
                        <div class="ui input">
                            <input type="text" ng-model="nationalCode" placeholder="کد ملی">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin">شماره تلفن همراه</label>
                        <div class="ui input">
                            <input type="text" ng-model="mobilePhoneNumber" placeholder="09xxxxxxxxx">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin"><bdi>شماره تلفن دوم (اختیاری)</bdi></label>
                        <div class="ui input">
                            <input type="text" ng-model="phoneNumber" placeholder="تلفن همراه یا ثابت">
                        </div>
                    </div>
                    <div class="field">
                        <label class="nazanin"><bdi>شماره تلفن سوم (اختیاری)</bdi></label>
                        <div class="ui input">
                            <input type="text" ng-model="extraPhoneNumber" placeholder="تلفن همراه یا ثابت">
                        </div>
                    </div>

                    <div class="ui horizontal divider">
                        <span class="nazanin">آپلود فایل نتایج</span>
                    </div>
                    
                    <img icon-js="pdf file" width=100>

                    <div class="ui violet raised clearing segment ja-preview">
                        <img class="ui small left floated image ja-preview-image" src="/img/icon-128x128.png">
                        <img class="ui small right floated image ja-preview-delete" icon-js="delete">
                        <p class="left floated nazanin ja-preview-filename">my-file-name.txt</p>
                        <div class="ja-preview-status">
                            <div class="ui violet progress">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="sendAnswer()">
                            <span class="nazanin">ارسال نتایج</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>