!.gitignore

node_modules/*
npm-debug.log

#bower_components/*
#!bower_components/semantic-ui/
#bower_components/semantic-ui/*
#!bower_components/semantic-ui/src/
#!bower_components/semantic-ui/dist/

app/lib/semantic/*
!app/lib/semantic/dist/
!app/lib/semantic/src/
!app/lib/semantic/semantic.json

#app/assets/audio/*
#!app/assets/audio/README.md
#app/assets/video/*
#!app/assets/video/README.md

_data/*
_file/*

test.js

*.csv
*.dat
#*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz

