<div id="ja-home-find">

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ findingAnswer ? 'loading' : '' }} form">

                    <div class="field" ng-class="{'error': vs.error('nationalCode')}">
                        <!--<label class="nazanin">کد ملی</label>-->
                        <div class="ui input">
                            <input type="tel" ng-model="nationalCode" ng-change="vs.check('nationalCode')" ng-class="{'ja-align-left': nationalCode, 'nazanin': !nationalCode}" placeholder="کد ملی" title="کد ملی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('nationalCode')" ng-bind="vs.error('nationalCode')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('postCode')}">
                        <!--<label class="nazanin">شماره آزمایش</label>-->
                        <div class="ui input">
                            <input type="tel" ng-model="postCode" ng-change="vs.check('postCode')" ng-class="{'ja-align-left': postCode, 'nazanin': !postCode}" placeholder="شماره آزمایش" title="شماره آزمایش">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('postCode')" ng-bind="vs.error('postCode')"></div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="seeAnswer()">
                            <span class="nazanin">مشاهده نتیجه آزمایش</span>
                        </button>
                    </div>
                    <div class="field">
                        <button class="fluid ui basic blue button" ng-click="$state.go('home.otp')">
                            <span class="nazanin">شماره آزمایش خود را فراموش کرده ام</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>