<a class="ja-item ja-text ja-hoverable ja-left nazanin" ng-click="menuHandlers.goToLabs()">آزمایشگاه ها</a>

<a class="ja-item ja-text ja-hoverable ja-right nazanin" ng-click="menuHandlers.goToHomeFind()">جواب آزمایش</a>

<a class="ja-item ja-text ja-hoverable ja-right nazanin" ng-click="menuHandlers.goToHomeOtp()">سوابق من</a>

<a class="ja-item ja-text ja-hoverable ja-right nazanin" ng-click="menuHandlers.goToHomeAbout()">درباره ما</a>

<a class="ja-item ja-text ja-hoverable ja-right nazanin" id="home-contact-us" data-position="top right" ng-click="menuHandlers.goToHomeContact()">تماس با ما</a>
<div class="ui popup ja-align-right">
    <div class="header"><span class="nazanin">اطلاعات تماس</span></div>
    <div class="nazanin">
        <bdi>021-66910430</bdi>
        <bdi>تلفن:</bdi>
    </div>
</div>
