<div id="ja-home-hint">

    <div class="ui justified text container nazanin ja-rtl ja-align-justify ja-para">
        برای مشاهده جواب آزمایشتان باید شماره آزمایش چهار رقمی آن را در کنار کُد ملی خودتان وارد کنید. شماره آزمایش شما هم زمان با ارسال جواب آزمایشتان در پیام های اطلاع رسانی برای شما ارسال می شود. اگر در حال حاضر به شماره آزمایشتان دسترسی ندارید، می توانید
        از طریق منوی <strong>سوابق من</strong> به تمام آزمایش های ثبت شده خود در این سامانه دسترسی پیدا کنید.
    </div>

    <div class="ui justified text container nazanin ja-rtl ja-align-justify ja-para">
        برای اینکه بتوانید سوابق آزمایش های خودتان را مشاهده کنید، هر بار لازم است ابتدا یک رمز یک بار مصرف تهیه کنید. جهت تهیه رمز یک بار مصرف نیز باید کُد ملی خود را به همراه یکی از شماره تلفن های همراهتان که در پذیرش های قبلی تان در آزمایشگاه ها ثبت کرده اید،
        در سامانه وارد کنید تا رمز یک بار مصرف از طریق پیامک برایتان ارسال شود:
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">
                <div class="field">
                    <button class="fluid ui blue button" ng-click="goToHomeOtp()">
                        <span class="nazanin">مشاهده سوابق آزمایشگاهی</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="ui justified text container nazanin ja-rtl ja-align-justify ja-para">
        <h3 class="nazanin">
            نکته مهم:
        </h3>
    </div>

    <div class="ui justified text container nazanin ja-rtl ja-align-justify ja-para">
        در موارد خاص که شماره تلفن همراه شما تغییر کرده است و یا کُد ملی شما اشتباهاً در هنگام پذیرش ثبت شده است و یا به هر عنوان دیگری به سوابق خود دسترسی ندارید، می توانید از طریق صفحه ی <strong>تماس با ما</strong> و ثبت یک پیغام با شماره تلفن همراه
        جدیدتان، موضوع را با کمک اُپراتورهای ما پیگیری کرده و برای اصلاح اطلاعات خودتان در سامانه اقدام کنید:
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">
                <div class="field">
                    <button class="fluid ui basic blue button" ng-click="goToHomeContact()">
                        <span class="nazanin">صفحه تماس با ما</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
