<div class="ja-home-history">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    لطفاً رمز یک بار مصرف دریافت شده را وارد کنید
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ findingHistory ? 'loading' : '' }} form">
                    <div class="field">
                        <!--<label class="nazanin">رمز یک بار مصرف</label>-->
                        <div class="ui input">
                            <input type="text" name="otp" ng-model="otp" placeholder="رمز یک بار مصرف">
                        </div>
                    </div>
                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="findHistory()">
                            <span class="nazanin">مشاهده سوابق آزمایشگاهی</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
