<div id="ja-home-history">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    رمزیک بار مصرف شما از طریق پیامک ارسال شد. لطفاً آن را در کادر زیر وارد کنید
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ findingHistory ? 'loading' : '' }} form">

                    <div class="field" ng-class="{'error': vs.error('otp')}">
                        <!--<label class="nazanin">رمز یک بار مصرف</label>-->
                        <div class="ui input">
                            <input type="tel" ng-model="otp" ng-change="vs.check('otp')" class="nazanin" ng-class="{'ja-align-left': otp}" accept-persian-numbers placeholder="رمز یک بار مصرف">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('otp')" ng-bind="vs.error('otp')"></div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="findHistory()">
                            <span class="nazanin">مشاهده سوابق آزمایشگاهی</span>
                        </button>
                    </div>

                </form>

                <div class="ja-after-form-space" ng-show="showAfterFormSpace"></div>

            </div>
        </div>
    </div>

</div>
