<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeFind(); toggleMenu()">جواب آزمایش</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeOtp(); toggleMenu()">سوابق من</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToLabs(); toggleMenu()">آزمایشگاه ها</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeAbout(); toggleMenu()">درباره ما</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeContact(); toggleMenu()">تماس با ما</a>
            