<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeFind(); toggleMenu()">
    جواب آزمایش
    <img class="ja-menu-item-icon" ng-src="{{iconJs('reader')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeOtp(); toggleMenu()">
    سوابق من
    <img class="ja-menu-item-icon" ng-src="{{iconJs('folder')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToLabLogin(); toggleMenu()">
    آزمایشگاه ها
    <img class="ja-menu-item-icon" ng-src="{{iconJs('laboratory')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeAbout(); toggleMenu()">
    درباره ما
    <img class="ja-menu-item-icon" ng-src="{{iconJs('about us')}}">
</a>

<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeContact(); toggleMenu()">
    تماس با ما
    <img class="ja-menu-item-icon" ng-src="{{iconJs('contact us')}}">
</a>
