<div id="ja-home-otp">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    برای مشاهده سوابق آزمایشگاهی خود ابتدا باید رمز یک بار مصرف تهیه کنید
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ sendingOtp ? 'loading' : '' }} form">
                    
                    <div id=nationalCode class="field" ng-class="{'error': vs.error('nationalCode')}">
                        <label class="nazanin ja-required">کد ملی</label>
                        <div class="ui input">
                            <input type="tel" ng-model="nationalCode" ng-change="vs.check('nationalCode')" class="nazanin" ng-class="{'ja-align-left': nationalCode}" accept-persian-numbers placeholder="کد ملی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('nationalCode')" ng-bind="vs.error('nationalCode')"></div>
                    </div>
                    
                    <div id=mobilePhoneNumber class="field" ng-class="{'error': vs.error('mobilePhoneNumber')}">
                        <label class="nazanin ja-required">شماره تلفن همراه</label>
                        <div class="ui input">
                            <input type="tel" ng-model="mobilePhoneNumber" ng-change="vs.check('mobilePhoneNumber')" class="nazanin ja-align-left" accept-persian-numbers placeholder="۰۹∗∗∗∗∗∗∗∗∗">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('mobilePhoneNumber')" ng-bind="vs.error('mobilePhoneNumber')"></div>
                    </div>
                    
                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="sendOtp()">
                            <span class="nazanin">دریافت رمز یک بار مصرف</span>
                        </button>
                    </div>
                    <div class="field">
                        <button class="fluid ui basic blue button" ng-click="$state.go('home.hint')">
                            <span class="nazanin">در دریافت رمز یک بار مصرف مشکل دارم</span>
                        </button>
                    </div>
                    
                </form>

                <div class="ja-after-form-space" ng-show="showAfterFormSpace"></div>

            </div>
        </div>
    </div>

</div>