<div id="ja-home-patient">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>لطفاً اطلاعات زیر را با دقت پُر کنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ registeringPatientDraft ? 'loading' : '' }} form">

                    <div class="ui horizontal divider">
                        <span class="nazanin">مشخصات فردی</span>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('nationalCode')}">
                        <label class="nazanin ja-required">کد ملی بیمار</label>
                        <div class="ui input">
                            <input type="tel" ng-model="person.nationalCode" ng-change="vs.check('nationalCode')" class="nazanin" ng-class="{'ja-align-left': person.nationalCode}" accept-persian-numbers placeholder="کد ملی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('nationalCode')" ng-bind="vs.error('nationalCode')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('fullName')}">
                        <label class="nazanin ja-required">نام و نام خانوادگی بیمار</label>
                        <div class="ui input">
                            <input class="nazanin ja-rtl" type="text" ng-model="person.fullName" ng-change="vs.check('fullName')" placeholder="نام و نام خانوادگی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('fullName')" ng-bind="vs.error('fullName')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('gender')}">
                        <label class="nazanin ja-required">جنسیت</label>
                        <div id="ja-gender-dropdown" class="ui fluid selection dropdown">
                            <input type="hidden">
                            <div class="default text">
                                انتخاب کنید
                            </div>
                            <div class="menu">
                                <div class="item" data-value="مرد" data-text="مرد">
                                    <span class="nazanin">مرد</span>
                                </div>
                                <div class="item" data-value="زن" data-text="زن">
                                    <span class="nazanin">زن</span>
                                </div>
                            </div>
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('gender')" ng-bind="vs.error('gender')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('birthday')}">
                        <label class="nazanin ja-required">تاریخ تولد</label>
                        <div>
                            <div id="ja-days-dropdown" class="ui fluid search selection dropdown ja-inline">
                                <input type="hidden">
                                <div class="default text">
                                    روز
                                </div>
                                <div class="menu">
                                    <div class="item" ng-repeat="day in days" data-value="{{day}}" data-text="{{day.toString()}}">
                                        <span class="nazanin" ng-bind="day | toPersianNumber"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="ja-months-dropdown" class="ui fluid search selection dropdown ja-inline">
                                <input type="hidden">
                                <div class="default text">
                                    ماه
                                </div>
                                <div class="menu">
                                    <div class="item" ng-repeat="month in months" data-value="{{month}}" data-text="{{month.toString()}}">
                                        <span class="nazanin" ng-bind="month | toPersianNumber"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="ja-years-dropdown" class="ui fluid search selection dropdown ja-inline">
                                <input type="hidden">
                                <div class="default text">
                                    سال
                                </div>
                                <div class="menu">
                                    <div class="item" ng-repeat="year in years" data-value="{{year}}" data-text="{{year.toString()}}">
                                        <span class="nazanin" ng-bind="year | toPersianNumber"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('birthday')" ng-bind="vs.error('birthday')"></div>
                    </div>

                    <div class="ui horizontal divider">
                        <span class="nazanin">اطلاعات تماس</span>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('mobilePhoneNumber')}">
                        <label class="nazanin ja-required">شماره تلفن همراه</label>
                        <div class="ui input">
                            <input type="tel" ng-model="person.mobilePhoneNumber" ng-change="vs.check('mobilePhoneNumber')" class="nazanin ja-align-left" accept-persian-numbers placeholder="۰۹∗∗∗∗∗∗∗∗∗">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('mobilePhoneNumber')" ng-bind="vs.error('mobilePhoneNumber')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('phoneNumber')}">
                        <label class="nazanin ja-optional">شماره تلفن دوم</label>
                        <div class="ui input">
                            <input type="tel" ng-model="person.phoneNumber" ng-change="vs.check('phoneNumber')" class="nazanin" ng-class="{'ja-align-left': person.phoneNumber}" accept-persian-numbers placeholder="تلفن همراه یا ثابت">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('phoneNumber')" ng-bind="vs.error('phoneNumber')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('extraPhoneNumber')}">
                        <label class="nazanin ja-optional">شماره تلفن سوم </label>
                        <div class="ui input">
                            <input type="tel" ng-model="person.extraPhoneNumber" ng-change="vs.check('extraPhoneNumber')" class="nazanin" ng-class="{'ja-align-left': person.extraPhoneNumber}" accept-persian-numbers placeholder="تلفن همراه یا ثابت">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('extraPhoneNumber')" ng-bind="vs.error('extraPhoneNumber')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('email')}">
                        <label class="nazanin ja-optional">آدرس پست الکترونیک</label>
                        <div class="ui input">
                            <input type="email" ng-model="person.email" ng-change="vs.check('email')" class="ja-align-left" placeholder="your@email.com">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('email')" ng-bind="vs.error('email')"></div>
                    </div>

                    <div class="ui horizontal divider">
                        <span class="nazanin">آدرس پُستی</span>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('province')}">
                        <label class="nazanin ja-required">استان</label>
                        <div id="ja-provinces-dropdown" class="ui fluid search selection dropdown">
                            <input type="hidden">
                            <div class="default text">
                                انتخاب کنید
                            </div>
                            <div class="menu">
                                <div class="item" ng-repeat="province in provinces" data-value="{{province}}" data-text="{{province}}">
                                    <span class="nazanin" ng-bind="province"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('province')" ng-bind="vs.error('province')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('city')}">
                        <label class="nazanin ja-required">شهر</label>
                        <div id="ja-cities-dropdown" class="ui fluid search selection dropdown">
                            <input type="hidden">
                            <div class="default text">
                                انتخاب کنید
                            </div>
                            <div class="menu">
                                <div class="item" ng-repeat="city in cities" data-value="{{city}}" data-text="{{city}}">
                                    <span class="nazanin" ng-bind="city"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('city')" ng-bind="vs.error('city')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('address')}">
                        <label class="nazanin ja-required">آدرس دقیق پُستی</label>
                        <div class="ui input">
                            <input class="nazanin ja-rtl" type="text" ng-model="person.address" ng-change="vs.check('address')" placeholder="خیابان، کوچه، پلاک، واحد، ...">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('address')" ng-bind="vs.error('address')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('postalCode')}">
                        <label class="nazanin ja-required">کد پُستی</label>
                        <div class="ui input">
                            <input type="tel" ng-model="person.postalCode" ng-change="vs.check('postalCode')" class="nazanin" ng-class="{'ja-align-left': person.postalCode}" accept-persian-numbers placeholder="کد پُستی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('postalCode')" ng-bind="vs.error('postalCode')"></div>
                    </div>

                    <div class="ui horizontal divider">
                        <span class="nazanin">ثبت اطلاعات</span>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="registerPatientDraft()">
                            <span class="nazanin">ثبت اطلاعات</span>
                        </button>
                    </div>

                </form>

                <div class="ja-after-form-space" ng-show="showAfterFormSpace"></div>

            </div>
        </div>
    </div>

</div>
