<div id="ja-answer-download">

    <div class="ui basic segment">

        <p ng-show="!loading && (answer && answer.files && answer.files.length)" class="nazanin ja-rtl ja-align-right">
            برای دانلود فایل مورد نظر، لطفاً روی آن کلیک کنید:
        </p>
        <p ng-hide="!loading && (answer && answer.files && answer.files.length)" class="nazanin ja-rtl ja-align-right">
            برای این آزمایش فایلی آپلود نشده است.
        </p>

        <div ng-if="!loading && (answer && answer.files && answer.files.length)">

            <a class="ja-link" ng-repeat="file in answer.files" ng-href="{{file.url}}" target="_blank">
                <img ng-if="file.material === 'image'" class="ja-link-image" ng-src="{{file.url}}" />
                <img ng-if="file.material !== 'image'" class="ja-link-image" ng-src="{{iconJs.file(file.name)}}" />
                <p class="nazanin ja-link-filename" ng-bind="file.name"></p>
            </a>

        </div>

    </div>

</div>
