<a class="ja-item ja-text ja-left nazanin" ng-bind="footerHandlers.postDateGetter()"></a>

<a class="ja-item ja-text ja-left nazanin" ng-bind="footerHandlers.postCodeGetter()"></a>
<!--<a class="ja-item ja-text ja-hoverable ja-clickable ja-left nazanin" ng-bind="footerHandlers.postCodeGetter()" id="answer-test-number"></a>-->
<!--<div class="ui popup ja-align-right">-->
<!--    <div class="header"><span class="nazanin">شماره رسید آزمایش</span></div>-->
<!--    <div class="nazanin">برای دسترسی به این آزمایش در آینده می توانید از این شماره استفاده کنید</div>-->
<!--</div>-->


<a class="ja-item ja-text ja-hoverable ja-clickable ja-right nazanin" ng-hide="$state.is('answer.post')" ng-click="$state.go('answer.post')">
    <span>نتایج آزمایش</span>
</a>

<a class="ja-item ja-text ja-hoverable ja-clickable ja-right nazanin" ng-show="$state.is('answer.post')" ng-click="menuHandlers.goToLaboratory()">
    <span ng-bind="menuHandlers.labGetter().name || ' '"></span>
</a>
<!--<a class="ja-item ja-text ja-hoverable ja-clickable ja-right nazanin" id="answer-laboratory-name" data-position="top right" ng-click="menuHandlers.goToLaboratory()">-->
<!--    <span ng-bind="menuHandlers.labNameGetter()"></span>-->
<!--</a>-->
<!--<div class="ui popup ja-align-right">-->
<!--    <div class="header"><span class="nazanin">آزمایشگاه دکتر ساوجی</span></div>-->
<!--    <div class="nazanin">-->
<!--        <bdi>021-22915247</bdi>-->
<!--        <bdi>تلفن:</bdi>-->
<!--    </div>-->
<!--    <div class="nazanin">-->
<!--        <bdi>آدرس: تهران، خ آزادی، نبش بهبودی، پلاک 182، واحد 4</bdi>-->
<!--    </div>-->
<!--</div>-->