<a class="ja-item ja-text ja-rtl ja-align-left ja-name ja-left nazanin ja-more-than-319" ng-bind="headerHandlers.paitentNameGetter()" title="نام بیمار"></a>

<img class="ja-item ja-icon ja-hoverable ja-clickable ja-right ja-more-than-530" ng-class="{ 'ja-selected': $state.is('answer.post') }" ng-src="{{iconJs('reader')}}" ng-click="menuHandlers.viewFile()" alt="مشاهده آنلاین" title="مشاهده آنلاین">

<img class="ja-item ja-icon ja-hoverable ja-clickable ja-right ja-more-than-380" ng-src="{{iconJs('question')}}" ng-click="menuHandlers.guide()" alt="راهنمای خواندن نتایج" title="راهنمای خواندن نتایج">

<img class="ja-item ja-icon ja-hoverable ja-clickable ja-right ja-more-than-430" ng-class="{ 'ja-selected': $state.is('answer.download') }" ng-src="{{iconJs('download')}}" ng-click="menuHandlers.saveFile()" ng-show="menuHandlers.getAsnwerLoadedStatus()"
    alt="ذخیره فایل ها" title="ذخیره فایل ها">

<img class="ja-item ja-icon ja-hoverable ja-clickable ja-right ja-more-than-480" ng-class="{ 'ja-selected': $state.is('answer.share') }" ng-src="{{iconJs('share')}}" ng-click="menuHandlers.shareFile()" ng-show="menuHandlers.getAsnwerLoadedStatus()" alt="به اشتراک گذاری"
    title="به اشتراک گذاری">

<img class="ja-item ja-icon ja-hoverable ja-clickable ja-right ja-more-than-580" ng-class="{ 'ja-selected': $state.is('answer.print') }" ng-src="{{iconJs('print')}}" ng-click="menuHandlers.printFile()" ng-if="!menuHandlers.getPrintingStatus()" ng-show="menuHandlers.getAsnwerLoadedStatus()"
    alt="چاپ نتایج" title="چاپ نتایج">
