<div id="ja-answer-post">

    <div class="ui basic segment">

        <p class="nazanin ja-rtl ja-align-right" ng-show="loading">در حال بارگذاری اطلاعات، لطفاً کمی صبر کنید...</p>
        <p class="nazanin ja-rtl ja-align-right" ng-show="!loading && !(answer && answer.files && answer.files.length)">برای این آزمایش فایلی آپلود نشده است.</p>

        <div ng-if="!loading && (answer && answer.files && answer.files.length)" ng-repeat="file in answer.files">

            <img ng-if="file.material === 'image'" ng-src="{{file.url}}" width="100%">

            <object ng-if="file.material !== 'image'" data="{{file.url}}" type="{{file.type}}" width="100%">
                <iframe ng-src="{{file.url}}" width="100%" style="border: none;">
                    No browser support for this file, please download and open the file on your own:
                    <a href="{{file.url}}">Download</a>
                </iframe>
            </object>

            <!--<embed ng-if="file.material === '...'" ng-src="{{file.url}}" type="{{file.type}}" width="100%" />-->

        </div>

        <div class="ui segment" ng-if="!loading && answer">
            <!--<strong class="nazanin ja-rtl ja-left-align">توضیحات:</strong>-->
            <pre class="nazanin ja-rtl ja-right-align" ng-bind="answer.notes || '(توضیحات ندارد)'"></pre>
        </div>

    </div>

</div>