<div id="ja-answer-post">

    <div class="ui basic segment">

        <p class="nazanin ja-rtl ja-align-right" ng-show="loading">
            در حال بارگذاری اطلاعات، لطفاً کمی صبر کنید...
        </p>

        <div zoomable ng-if="!loading && answer" max-zoom="2" top="52" bottom="42" right="10" left="10">
            <div>

                <br />

                <p class="nazanin ja-rtl ja-align-right" ng-show="!loading && !(answer && answer.files && answer.files.length)">
                    برای این آزمایش فایلی آپلود نشده است.
                </p>

                <div id="ja-answer-post-preview">
                    <div ng-if="!loading && (answer && answer.files && answer.files.length)" ng-repeat="file in answer.files">

                        <div ng-if="file.material === 'image'">
                            <img ng-src="{{file.url}}" width="100%">
                        </div>

                        <div ng-if="file.material === 'pdf' && !file.error">
                            <pdf ng-src="{{file.urlWithoutContentType}}" ng-model="file.model" width="100%" hide-rendering="false" event-handler="pdfFileEventHandlerMaker(file)">
                                <p class="nazanin ja-rtl ja-align-right">
                                    در حال بارگذاری اطلاعات، لطفاً کمی صبر کنید...
                                </p>
                            </pdf>
                        </div>

                        <div ng-if="!file.material || (file.material === 'pdf' && file.error)">
                            <div class="ja-preview">
                                <img class="ja-preview-image" ng-src="{{iconJs.file(file.name)}}">
                                <p class="nazanin ja-preview-filename" ng-bind="file.name"></p>
                            </div>
                        </div>

                        <!--<object ng-if="file.material !== 'image'" data="{{file.url}}" type="{{file.type}}" width="100%">-->
                        <!--    <iframe ng-src="{{file.url}}" width="100%" style="border: none;">-->
                        <!--        No browser support for this file, please download and open the file on your own:-->
                        <!--        <a href="{{file.url}}">Download</a>-->
                        <!--    </iframe>-->
                        <!--</object>-->
                        <!--<embed ng-if="file.material === '...'" ng-src="{{file.url}}" type="{{file.type}}" width="100%" />-->

                    </div>
                </div>

                <br />

                <p ng-if="!loading && answer" class="nazanin ja-rtl ja-align-right">
                    <strong>توضیحات :</strong>
                </p>
                <div ng-if="!loading && answer" class="ui segment">
                    <pre class="nazanin ja-rtl ja-right-align ja-multiline-pre" ng-bind="answer.notes || '(توضیحات ندارد)'"></pre>
                </div>

                <br />

            </div>
        </div>

    </div>

</div>
