<div id="ja-admin-laboratory">
    
    <br />

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui form">

                    <div class="field">
                        <!--<label class="nazanin ja-optional">جستجو</label>-->
                        <div class="ui input">
                            <input type="text" ng-model="searchKeyword" class="ja-rtl ja-align-center" placeholder="Search">
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <table id="ja-admin-laboratory-table">
        <thead>
            <tr>
                <th class="ja-rtl ja-align-right">آدرس</th>
                <th class="ja-rtl ja-align-center">نام آزمایشگاه</th>
                <th class="ja-rtl ja-align-left">نام کاربری</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lab in laboratories | filter: searchKeyword | limitTo: 1000">
                <td class="ja-rtl ja-align-right">{{lab.address}}</td>
                <td class="ja-rtl ja-align-center">{{lab.labName}}</td>
                <td class="ja-ltr ja-align-left">{{lab.username}}</td>
            </tr>
        </tbody>
    </table>

</div>
