<div id="ja-admin-laboratory">

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui form">

                    <div class="field">
                        <!--<label class="nazanin ja-optional">جستجو</label>-->
                        <div class="ui input">
                            <input type="text" ng-model="searchKeyword" ng-charge="selectedLab = null" class="ja-rtl ja-align-center" placeholder="Search">
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <table class="ja-admin-laboratory-table">
        <thead>
            <tr>
                <th class="ja-rtl ja-align-right">آدرس</th>
                <th class="ja-rtl ja-align-center">نام آزمایشگاه</th>
                <th class="ja-rtl ja-align-left">نام کاربری</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lab in laboratories | filter: searchKeyword | limitTo: 1000" ng-click="selectLab(lab)" ng-class="{ 'selected': selectedLab === lab }">
                <td class="ja-rtl ja-align-right">{{lab.address}}</td>
                <td class="ja-rtl ja-align-center">{{lab.labName}}</td>
                <td class="ja-ltr ja-align-left">{{lab.username}}</td>
            </tr>
        </tbody>
    </table>

    <div id="ja-admin-laboratory-edit-modal" class="ui modal">
        <div class="header">
            <span class="nazanin">به روز رسانی اطلاعات آزمایشگاه</span>
        </div>
        <div class="content">

            <form class="ui {{ updating ? 'loading' : '' }} form">

                <div class="ui horizontal divider">
                    <span class="nazanin ja-rtl">
                        اطلاعات
                    </span>
                </div>

                <div class="field">
                    <label class="nazanin ja-required">نام آزمایشگاه</label>
                    <div class="ui input">
                        <input type="text" ng-model="editingLab.labName" class="nazanin ja-rtl ja-align-right">
                    </div>
                </div>

                <div class="field">
                    <label class="nazanin ja-required">تلفن همراه ارتباطی آزمایشگاه</label>
                    <div class="ui input">
                        <input type="tel" ng-model="editingLab.mobilePhoneNumber" class="ja-ltr ja-align-left">
                    </div>
                </div>

                <div class="field">
                    <label class="nazanin ja-required">تلفن تماس آزمایشگاه</label>
                    <div class="ui input">
                        <input type="tel" ng-model="editingLab.phoneNumber" class="ja-ltr ja-align-left">
                    </div>
                </div>

                <div class="field">
                    <label class="nazanin ja-required">آدرس آزمایشگاه</label>
                    <div class="ui input">
                        <input type="text" ng-model="editingLab.address" class="nazanin ja-rtl ja-align-right">
                    </div>
                </div>

                <div class="field">
                    <label class="nazanin ja-required">کُد پُستی آزمایشگاه</label>
                    <div class="ui input">
                        <input type="tel" ng-model="editingLab.postalCode" class="ja-ltr ja-align-left">
                    </div>
                </div>

                <div class="field">
                    <label class="nazanin ja-optional">آدرس وبسایت آزمایشگاه</label>
                    <div class="ui input">
                        <input type="text" ng-model="editingLab.websiteAddress" class="ja-ltr ja-align-left">
                    </div>
                </div>

                <div class="field">
                    <label class="nazanin ja-required">شارژ باقیمانده به تومان</label>
                    <div class="ui input">
                        <input type="tel" ng-model="editingLab.balance" class="ja-ltr ja-align-left">
                    </div>
                </div>

                <div class="ui horizontal divider">
                    <span class="nazanin ja-rtl">
                        عملیات
                    </span>
                </div>

                <div class="field">
                    <label class="nazanin">اعمال شارژ به تومان</label>
                    <div class="ui action input">
                        <button class="ui olive button" ng-click="chargeLab()">
                            <span class="nazanin ja-rtl">شارژ شود</span>
                        </button>
                        <input type="tel" ng-model="charge" class="ja-ltr ja-align-left">
                    </div>
                </div>

                <div class="field">
                    <label class="nazanin"><bdi>(نام کامل آزمایشگاه وارد شود)</bdi> حذف آزمایشگاه</label>
                    <div class="ui action input">
                        <button class="ui red button" ng-click="removeLab()">
                            <span class="nazanin ja-rtl">حذف شود</span>
                        </button>
                        <input type="text" ng-model="labNameAgain" class="nazanin ja-rtl ja-align-right">
                    </div>
                </div>

            </form>

        </div>
        <div class="actions">
            <!--<div class="ui cancel button">Cancel</div>-->
            <button class="ui basic blue cancel button">
            <span class="nazanin">لغو عملیات</span>
        </button>
            <button class="ui --basic green ok button">
            <span class="nazanin">به روز رسانی</span>
        </button>
        </div>
    </div>

</div>
