<div id="ja-admin-sms">

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <br />

                <div class="ui --fluid --selection dropdown" id="ja-admin-sms-submenu-selector">
                    <img class="ja-dropdown-sign" ng-src="{{ iconJs('down triangle') }}">
                    <span class="text nazanin" ng-bind="submenus[selectedSubmenu]"></span> &nbsp;
                    <strong><bdi class="nazanin">انتخاب کنید:</bdi></strong>
                    <div class="menu">
                        <div class="item nazanin ja-rtl ja-align-right" ng-repeat="submenu in submenus" data-value="{{ $index }}" ng-bind="submenu"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ui --horizontal divider">
        <!--<span class="nazanin">{{ adminSubmenus[selectedAdminSubmenu] }}</span>-->
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <!-- Submenu: 0 -->
                <form class="ui {{ waiting ? 'loading' : '' }} form" ng-show="selectedSubmenu == 0">

                    <div class="field">
                        <label class="nazanin ja-required">به شماره تلفن</label>
                        <div class="ui input">
                            <input type="tel" ng-model="phoneNumber" class="ja-ltr ja-align-left">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin ja-required">متن پیامک</label>
                        <div class="ui input">
                            <textarea ng-model="message" rows=6 maxlength=10000 class="nazanin ja-rtl ja-align-right"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="sendDummySms()">
                            <span class="nazanin">ارسال پیامک</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div ng-show="selectedSubmenu == 1">
        <p ng-bind="selectedSubmenuText" class="nazanin"></p>
        Page not implemented.
    </div>

    <div ng-show="selectedSubmenu == 2">
        <p ng-bind="selectedSubmenuText" class="nazanin"></p>
        Page not implemented.
    </div>

</div>
