<div id="ja-answer">

    <div class="ja-screen" ui-view></div>

    <div class="ja-print" id="ja-answer-print" ng-if="!loading && answer">

        <div class="ui segment nazanin ja-rtl ja-align-right">

            <div class="ja-print-header-info">
                نام:&nbsp;
                <strong ng-bind="answer.patientName"></strong>
            </div>
            <div class="ja-print-header-info">
                تاریخ ارسال نتایج:&nbsp;
                <strong ng-bind="footerHandlers.postDateGetter()"></strong>
            </div>
            <div class="ja-print-header-info">
                شماره آزمایش:&nbsp;
                <strong ng-bind="footerHandlers.postCodeGetter()"></strong>
            </div>
            <div class="ja-print-header-info">
                نام آزمایشگاه:&nbsp;
                <strong ng-bind="answer.lab.name"></strong>
            </div>
            <div class="ja-print-header-info">
                تلفن تماس آزمایشگاه:&nbsp;
                <strong ng-bind="answer.lab.phoneNumber | toPersianNumber"></strong>
            </div>
            <div class="ja-print-header-info">
                کُد پستی آزمایشگاه:&nbsp;
                <strong ng-bind="answer.lab.postalCode | toPersianNumber"></strong>
            </div>

            <div>
                آدرس آزمایشگاه:&nbsp;
                <em ng-bind="answer.lab.address | toPersianNumber"></em>
            </div>

        </div>

        <p class="nazanin ja-rtl ja-align-right" ng-show="!(answer.files && answer.files.length)">
            برای این آزمایش فایلی آپلود نشده است.
        </p>

        <div ng-if="answer.files && answer.files.length" ng-repeat="file in answer.files">

            <div ng-if="file.material === 'image'">
                <img ng-src="{{file.url}}" width="100%">
            </div>

            <div ng-if="file.material === 'pdf' && !file.error && file.dataUrls && file.dataUrls.length">
                <img ng-repeat="dataUrl in file.dataUrls" ng-src="{{dataUrl}}" width="100%">
            </div>

        </div>

        <br />

        <p class="nazanin ja-rtl ja-align-right"><strong>توضیحات :</strong></p>
        <div class="ui segment">
            <pre class="nazanin ja-rtl ja-right-align" ng-bind="answer.notes || '(توضیحات ندارد)'"></pre>
        </div>

    </div>

</div>
