<div>

    <!-- Back arrow -->
    <img src="/img/icons/left-arrow.svg" alt="<- Back" class="ja-back-arrow" ng-if="back" ng-click="back()"></img>

    <!-- Menu bars -->
    <img src="/img/icons/menu-bars.svg" alt="Menu" class="ja-menu-bars" ng-if="menu" ng-click="menu()"></img>

    <!-- Main Container -->
    <div class="ui centered grid">
        <div class="twelve wide small eight wide tablet six wide computer column">
            <div class="center aligned row ltr">

                <!-- Home Logo -->
                <img class="ui centered medium image ja-home-logo" src="/img/logo-full.png" alt="جواب آزمایش" />

            </div>
        </div>
    </div>

    <div ui-view></div>

    <!-- Footer -->
    <div class="ui bottom fixed huge menu ja-home-footer">

        <a class="item nazanin">آزمایشگاه ها</a>

        <div class="right menu">

            <a class="item nazanin" id="home-contactUs" data-position="top right" ui-sref="home.contact">تماس با ما</a>
            <div class="ui popup ja-align-right">
                <div class="header"><span class="nazanin">اطلاعات تماس</span></div>
                <div class="nazanin">
                    <bdi>021-66910430</bdi>
                    <bdi>تلفن:</bdi>
                </div>
            </div>

            <a class="item nazanin" ui-sref="home.about">درباره ما</a>

            <a class="item nazanin" ui-sref="home.otp">سوابق من</a>

            <a class="item nazanin" ui-sref="home.find">جواب آزمایش</a>

        </div>
    </div>

</div>