<div>

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    برای مشاهده سوابق آزمایشگاهی خود نیاز به دریافت رمز یک بار مصرف دارید
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ sendingOtp ? 'loading' : '' }} form">
                    <div class="field">
                        <!--<label class="nazanin">کد ملی</label>-->
                        <div class="ui input">
                            <input type="text" name="first-name" placeholder="کد ملی">
                        </div>
                    </div>
                    <div class="field">
                        <!--<label class="nazanin">شماره تلفن همراه</label>-->
                        <div class="ui input">
                            <input type="text" name="last-name" placeholder="شماره تلفن همراه">
                        </div>
                    </div>
                    <div class="field">
                        <button class="fluid ui primary button" type="submit" ng-click="sendOtp()">
                            <span class="nazanin">دریافت رمز یک بار مصرف</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>