<div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ findingAnswer ? 'loading' : '' }} form">
                    <div class="field">
                        <!--<label class="nazanin">کد ملی</label>-->
                        <div class="ui input">
                            <input type="text" name="national-code" ng-model="nationalCode" placeholder="کد ملی">
                        </div>
                    </div>
                    <div class="field">
                        <!--<label class="nazanin">شماره رسید آزمایش</label>-->
                        <div class="ui input">
                            <input type="text" name="receipt-number" ng-model="receiptNumber" placeholder="شماره رسید آزمایش">
                        </div>
                    </div>
                    <div class="field">
                        <button class="fluid ui primary button" type="submit" ng-click="seeAnswer()">
                            <span class="nazanin">مشاهده نتیجه آزمایش</span>
                        </button>
                    </div>
                    <div class="field">
                        <button class="fluid ui basic button" type="submit" ng-click="$state.go('home.otp')">
                            <span class="nazanin">شماره رسید خود را فراموش کرده ام</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>