<div id="ja-rules">

    <div class="nazanin ja-rtl ja-align-justify ja-rules-container">

        <!--<h2>-->
        <!--    قوانین و مقررات سامانه جواب آزمایش-->
        <!--</h2>-->

        <p>
            در تمام متن زیر، اگر عبارت «سامانه» به تنهایی آمده بود، منظور «سامانه جواب آزمایش» است.
        </p>

        <h3>
            توافق نامه بین کاربران سامانه جواب آزمایش و شرکت آرتا ایده پرداز آرتین (سهامی خاص)
        </h3>
        <p>
            به سامانه جواب آزمایش خوش آمدید. اين وب سايت قوانين و مقرراتي را جهت استفاده كاربران از سايت تدوين نموده است كه كاربران مجاز به ويرايش آن نبوده و به منظور استفاده از سايت مي بايست با تمامي اين شرايط و نكات اشاره شده به آنها موافقت نمايند. لطفاً این شرایط
            و مقررات را قبل از استفاده از سایت به دقت مطالعه فرمایید. عضویت شما در سامانه جواب آزمایش به معنی پذیرفتن کامل این قوانین خواهد بود.
        </p>
        <p>
            این قوانین ممکن است به مرور زمان مشمول اصلاحات و به روز رسانی هایی بشوند و کاربران باید متعهد به رعایت آخرین نسخه از آن باشند. بنابراین توصیه می شود هر از چند گاهی به خواندن مجدد آن اقدام کنید. تقاضا می شود در صورت عدم توافق با شرایط و مقررات، از این
            وب سایت استفاده نکنید.
        </p>
        <p>
            تغییرات و استثنائات در مفاد این قرارداد تنها وقتی مجاز است که رونوشت کاغذی از آن در دو نسخه تنظیم شود و به توافق و مهر و امضای دو طرف قرارداد برسد. در آن صورت باز هم کاربران متعهد به رعایت اصلاحیه ها و به روز رسانی ها در آینده خواهد بود.
        </p>

        <h3>
            محدودیت ها در استفاده از سامانه
        </h3>
        <p>
            این سامانه فقط جهت تسهیل در فرآیند ثبت و ارسال نتایج آزمایشگاهی و رساندن آن به دست بیماران و مراجعه کنندگان به آزمایشگاه ها ساخته شده است و کاربرد دیگری ندارد. هرگونه استفاده از آن برای سایر مصارف و کاربردهای تعریف نشده، غیر مجاز است. اگر به هر صورت ممکن
            کاربران سامانه، امکانات مهیا شده در آن را جهت صلب آرامش و حقوق دیگران یا ایجاد مزاحمت برای بیماران به کار ببندند، مسئولیت آن فقط با خود کاربر خاطی خواهد بود.
        </p>

        <h3>
            اولویت حق دستکاری داده ها
        </h3>
        <p>
            تمام تلاش ما بر حفظ حریم خصوصی و آزادی عمل مجاز کاربران سامانه جواب آزمایش (چه آزمایشگاه ها و چه بیماران و مراجعه کنندگان به آزمایشگاه ها) خواهد بود، با این حال بر حسب صلاح دید، مدیران سامانه می توانند در هر لحظه، هر یک از اطلاعات ثبت شده در سامانه را
            (اعم از اطلاعات آزمایشگاه، بیماران، نتایج آزمایشگاهی و غیر از آن) تغییر داده و یا حذف کنند. همچنین می توانند دسترسی کاربران را به سامانه مسدود کرده یا ایشان را از سامانه حذف کنند.
        </p>

        <h3>
            مالی
        </h3>
        <p>
            سامانه حق ندارد مبالغی را که آزمایشگاه ها به عنوان شارژ از طرق معرفی شده در خود سامانه واریز کرده اند، ضایع کند و یا در صورت درخواست کاربر مسترد نکند و باید جمع دقیق مبالغ واریزی منهای کسری تعرفه خدمات سامانه همواره محاسبه شده و در دیدرس کاربر مربوطه
            قرار گیرد. ولی این امر در مورد شارژهای هدیه و رایگان که به مناسبت های مختلف به کاربران اهدا می شوند برقرار نیست.
        </p>

        <h3>
            رَدّ مسئولیت
        </h3>
        <p>
            سامانه جواب آزمایش تحت هیچ شرایطی، مسئولیت تأخیر یا عدم کارکرد سایت و هم چنین گم شدن یا نابودی اطلاعات ثبت شده را که ممکن است ناشی از عوامل طبیعی، نیروی انسانی، مشکلات اینترنتی، خرابی تجهیزات کامپیوتری، مخابراتی و غیره باشد، برعهده ندارد. آزمایشگاه ها
            باید از تمام اطلاعات ثبت شده در سامانه به هر روشی که برایشان راحت تر است، نسخه های پشتیبانی تهیه کرده و آن را به صورت بایگانی نزد خود نگه دارند.
        </p>
        <p>
            بیماران و مراجعه کنندگان به آزمایشگاه ها کاملاً آزاد هستند که نتایج آزمایش خود را از طریق این سامانه دریافت کنند یا نه. لذا آزمایشگاه ها حق ندارند ایشان را به هر نحو ممکن وادار به استفاده از سامانه کنند و سامانه هم هیچ گونه تضمینی به بیماران و مراجعه
            کنندگان به آزمایشگاه ها جهت حفظ امنیت اطلاعات و نتایج آزمایش ایشان را که در سامانه ثبت شده است نمی دهد.
        </p>
        <p>
            سامانه جواب آزمایش هیچ گونه مسئولیتی در قبال محتوای ثبت و ارسال شده کاربران ندارد. هر کاربر خودش و فقط خودش مسئول تمام محتوای ثبت شده اش می باشد. وظیفه سامانه، رساندن این محتوا به کاربران دیگر در صورت امکان خواهد بود، نه مشروع و قانونی و معتبر و صحیح
            و منطبق با هنجارها بودن خود محتوا.
        </p>

        <h3>
            امنیت اطلاعات
        </h3>
        <p>
            سامانه جواب آزمایش نهایت تلاش خود را جهت حفظ و امنیت اطلاعات وارده از طرف کاربران را در مقابل حملات سایبری و هکرها می نماید. اما از آنجا که امنیت شبکه کاملاً در اختیار سامانه نمی باشد و برخی یا همه اطلاعات ورودی به تلفن همراه کاربران ارسال می شود و از
            کنترل مستقیم سامانه خارج می شوند. از طرفی ممکن است کاربران دقت و مراقبت کافی در حفظ حریم خصوصی گوشی تلفن همراه خود و یا کلمه عبور خود نداشته باشند. لذا هیچگونه مسئولیتی در قبال اطلاعات سرقت شده متوجه سامانه نخواهد بود.
        </p>

        <h3>
            لینک به سایت های دیگر
        </h3>
        <p>
            کاربران می توانند لینک به سایر سایت ها را در سامانه جواب آزمایش قرار دهند (مثلاً به عنوان سایت رسمی خود آزمایشگاه یا ...). سامانه جواب آزمایش فقط و فقط مسئول شرعی و قانونی بودن محتوای اصیل خود است و نه هیچ یک از سایت ها و یا مراجعی که به هر نحو ممکن لینک
            آن ها در سامانه ثبت شده اند. هر کاربر خودش به تنهایی مسئولیت لینک هایی را که ثبت می کند بر عهده می گیرد.
        </p>

        <h3>
            انحصاری بودن داشته های سامانه
        </h3>
        <p>
            تمام حقوق محفوظ است و تمام متون، گرافیک ها، طرح ها، محتوا و سایر فعالیت های انجام گرفته در سایت، تحت کپی رایت ما می باشد. این امر شامل محتوایی که کاربران به هر نحو ممکن به سامانه اضافه می کنند نخواهد بود.
        </p>

        <h3>
            مقررات عمومی
        </h3>
        <p>
            اساساً استفاده از سامانه جواب آزمایش فقط و فقط در محدوده شرع مقدس اسلام و قوانین جمهوری اسلامی ایران مجاز است و کاربران باید متعهد باشند که به هیچ عنوان از امکانات سامانه بر خلاف این محدوده استفاده نمی کنند. در غیر این صورت کنترل آن از دست مدیران و صاحبان
            سامانه خارج است و مسئولیت آن تماماً بر عهده کاربران خاطی خواهد بود.
        </p>

    </div>

</div>
