#ja-home {
    #ja-home-patient {
        .ui {
            &.dropdown {
                &.ja-inline {
                    &.fluid.search.selection {
                        width: 45px;
                        display: inline-block;
                        &#ja-days-dropdown {
                            right: -190px;
                        }
                        &#ja-years-dropdown {
                            right: 190px;
                        }
                    }
                }
            }
        }
    }
}
