@font-face {
	font-family: BNazanin;
	src: url('/font/B-Nazanin.ttf');
}

body {
	padding: 0;
	// font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nazanin {
	font-family: BNazanin !important;
	font-size: 130%;
}

.ja-rtl {
	direction: rtl;
}

.ja-ltr {
	direction: ltr;
}

.ja-align-right {
	text-align: -webkit-right !important;
	text-align: right !important;
}

.ja-align-left {
	text-align: -webkit-left !important;
	text-align: left !important;
}

.ja-align-center {
	text-align: -webkit-center !important;
	text-align: center !important;
}

.ja-align-justify {
	text-align: justify !important;
}

////////////////////////////////////////////////////////////////////////////////
#ja-header,
#ja-footer {
	width: 100%;
	margin: 0;
	padding: 0;
}

#ja-header {
	z-index: 777777;
	.ja-item.ja-text {
		line-height: 34px;
		height: 36px;
	}
}

#ja-footer {
	.ja-item {
		line-height: 23px;
	}
}

.ja-item {
	margin: 0;
	height: 26px;
	&.ja-text {
		color: black;
		padding: 7px 10px;
	}
	&.ja-icon {
		width: 26px;
		padding: 12px;
	}
	&.ja-right {
		// margin-right: 10px;
		float: right;
	}
	&.ja-left {
		// margin-left: 10px;
		float: left;
	}
	&.ja-hoverable {
		&:hover {
			background-color: #eee;
		}
	}
	&.ja-clickable {
		cursor: pointer;
		&:active {
			background-color: #ddd;
		}
	}
	&.ja-selected {
		background-color: #eee !important;
	}
}

#ja-free-back-arrow,
#ja-free-menu-bars {
	position: fixed;
	z-index: 777777;
	background-color: white;
	-webkit-box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 1);
}

#ja-free-back-arrow {
	top: 0;
	left: 0;
}

#ja-free-menu-bars {
	top: 0;
	right: 0;
}

.ja-information-grid {
	padding: 14px 10px;
	.ja-information-row {
		padding: 5px 0;
		border: 1px solid #f0f0f0;
		border-top: 0;
	}
	.ja-information-label {
		color: #aaa;
	}
	.ja-information-value {
		color: #000;
		font-size: 140%;
	}
}

#ja-main-content {
	margin: 0;
	padding: 0 0 14px 0;
	#ja-main-content-header-placeholder {
		height: 52px;
	}
	#ja-main-content-footer-placeholder {
		height: 40px;
	}
}

.ja-logo {
	margin-top: 60px;
	margin-bottom: 30px;
}

.ja-menu-logo {
	margin-top: 8px;
	margin-bottom: 8px;
}

#toast-container {
	.toast {
		.toast-title,
		.toast-message {
			.nazanin;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
// Google reCAPTCHA:
.rc-anchor {
	.rc-anchor-content {
		.recaptcha-checkbox {}
		.rc-anchor-checkbox-label {
			// font-family: BNazanin !important;
			// font-size: 130%;
		}
	}
}
