#ja-panel {
    padding-top: 13px;
    .ja-error-message {
        color: red;
        font-weight: bold;
    }
    #ja-panel-loading {
        margin-top: 73px;
    }
    #ja-panel-send {
        .ja-info-message {
            color: gray;
            p {
                font-size: 90%;
                margin: 0;
            }
        }
        .ja-preview {
            margin: 13px 0;
            .ja-preview-image {
                max-width: 100px;
                max-height: 75px;
                margin-bottom: 0;
                // border: 1px solid #afcdd3;
            }
            .ja-preview-delete {
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
            .ja-preview-filename {
                position: absolute;
                left: 133px;
                top: 39px;
                white-space: nowrap;
                overflow: hidden;
                font-size: 20px;
            }
            .ja-preview-status {
                margin: 56px 0 0 118px;
                .ui.progress {
                    margin: 0;
                }
            }
        }
        #drop-zone {
            height: 127px;
            border-style: dashed;
            border-width: 4px;
            border-radius: 20px;
            border-color: cornflowerblue;
            padding: 18px;
            margin-top: 13px;
            &:hover {
                background-color: aliceblue;
            }
            &.drag-on {
                border-color: blue;
                background-color: skyblue;
            }
            #drop-zone-text {
                margin: auto;
            }
            .ui.button {
                margin-top: 70px;
            }
        }
        #input-file {
            display: none;
        }
    }
    #ja-panel-account-summary,
    #ja-panel-post {
        .ja-information-grid {
            .ja-information-grid();
        }
        .ja-link {
            border: solid 1px #fff;
            border-radius: 6px;
            border-style: outset;
            background-color: #f4f3f6;
            margin: 0 0 10px 0;
            padding: 10px;
            padding-bottom: 1px;
            cursor: pointer;
            display: block;
            &:hover {
                background-color: #f0f0f0;
                margin: -2px 0 12px 0;
            }
            .ja-link-image {
                height: 55px;
                max-width: 55px;
            }
            .ja-link-filename {
                display: inline-block;
            }
        }
        .ja-notes {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    #ja-panel-acceptance {
        #ja-panel-acceptance-search-menu {
            position: fixed;
            top: 37px;
            right: 0;
            left: 0;
            padding: 4px 15px;
            z-index: 700000;
            background-color: white;
            .ja-filter {
                width: 90px;
            }
        }
        #ja-panel-acceptance-scrolling-container {
            margin-top: 35px;
        }
    }
    #ja-panel-history {
        // md-virtual-repeat-container {
        // 	height: 100vh;
        // 	overflow-x: hidden;
        // 	// overflow-y: scroll;
        // 	overflow-y: hidden;
        // 	position: absolute;
        // 	width: 100%;
        // }
        // md-virtual-repeat-container:-webkit-scrollbar {
        // 	width: 0 !important;
        // }
        #ja-panel-history-filter-menu {
            position: fixed;
            top: 37px;
            right: 0;
            left: 0;
            padding: 4px 15px;
            z-index: 700000;
            background-color: white;
            // -webkit-box-shadow: 0px 4px 24px 5px white;
            // -moz-box-shadow: 0px 4px 24px 5px white;
            // box-shadow: 0px 4px 24px 5px white;
            .ja-filter {
                width: 95px;
            }
        }
        #ja-panel-history-search-menu {
            position: fixed;
            top: 37px;
            right: 0;
            left: 0;
            padding: 4px 15px;
            z-index: 700000;
            background-color: white;
            .ja-filter {
                width: 90px;
            }
        }
        #ja-panel-history-scrolling-container {
            margin-top: 35px;
        }
    }
    #ja-panel-patient {
        .ui {
            &.dropdown {
                &.ja-inline {
                    &.fluid.search.selection {
                        width: 45px;
                        display: inline-block;
                        &#ja-days-dropdown {
                            right: -190px;
                        }
                        &#ja-years-dropdown {
                            right: 190px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 530px) {
    #ja-panel {
        #ja-panel-history {
            .ja-not-small-display {
                display: none !important;
            }
            #ja-panel-history-filter-menu {
                top: 80px;
            }
            #ja-panel-history-scrolling-container {
                margin-top: 74px;
            }
        }
    }
}

@media (min-width: 530px) {
    #ja-panel {
        #ja-panel-history {
            .ja-small-display {
                display: none !important;
            }
        }
    }
}
