<div id="ja-panel-password">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>لطفاً کد اعتبار سنجی دریافت شده از طریق پیامک را وارد کنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="center aligned row">
            <div class="fourteen wide small eight wide tablet six wide computer column">

                <form class="ui {{ confirming ? 'loading' : '' }} form">

                    <div class="field" ng-class="{'error': vs.error('verificationCode')}">
                        <!--<label class="nazanin">کد اعتبار سنجی</label>-->
                        <div class="ui input">
                            <input type="tel" ng-model="verificationCode" ng-change="vs.check('verificationCode')" placeholder="کد اعتبار سنجی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('verificationCode')" ng-bind="vs.error('verificationCode')"></div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="confirm()">
                            <span class="nazanin">اتمام عملیات</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
