<div id="ja-panel-account-edit">

    <!--<div class="ui grid">-->
    <!--    <div class="center aligned row">-->
    <!--        <div class="sixteen wide column">-->

    <!--            <p class="nazanin">-->
    <!--                <bdi>لطفاً کادرهای زیر را با دقت پُرکنید</bdi>-->
    <!--            </p>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <div class="ui centered grid">
        <div class="center aligned row">
            <div class="fourteen wide small eight wide tablet six wide computer column">

                <form class="ui {{ editingAccount ? 'loading' : '' }} form">

                    <div class="field" ng-class="{'error': vs.error('labName')}">
                        <label class="nazanin ja-required">نام کامل آزمایشگاه</label>
                        <div class="ui input">
                            <input class="nazanin ja-rtl" type="text" ng-model="user.labName" ng-change="vs.check('labName')" placeholder="نام کامل آزمایشگاه">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('labName')" ng-bind="vs.error('labName')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('mobilePhoneNumber')}">
                        <label class="nazanin ja-required">تلفن همراه ارتباطی</label>
                        <div class="ui input">
                            <input type="tel" ng-model="user.mobilePhoneNumber" ng-change="vs.check('mobilePhoneNumber')" class="ja-align-left" placeholder="09xxxxxxxxx">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('mobilePhoneNumber')" ng-bind="vs.error('mobilePhoneNumber')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('phoneNumber')}">
                        <label class="nazanin ja-required">تلفن ثابت</label>
                        <div class="ui input">
                            <input type="tel" ng-model="user.phoneNumber" ng-change="vs.check('phoneNumber')" ng-class="{'ja-align-left': user.phoneNumber, 'nazanin': !user.phoneNumber}" placeholder="تلفن ثابت">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('phoneNumber')" ng-bind="vs.error('phoneNumber')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('address')}">
                        <label class="nazanin ja-required">آدرس</label>
                        <div class="ui input">
                            <input class="nazanin ja-rtl" type="text" ng-model="user.address" ng-change="vs.check('address')" placeholder="آدرس کامل آزمایشگاه">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('address')" ng-bind="vs.error('address')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('postalCode')}">
                        <label class="nazanin ja-required">کد پستی</label>
                        <div class="ui input">
                            <input type="tel" ng-model="user.postalCode" ng-change="vs.check('postalCode')" ng-class="{'ja-align-left': user.postalCode, 'nazanin': !user.postalCode}" placeholder="کد پستی 10 رقمی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('postalCode')" ng-bind="vs.error('postalCode')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('websiteAddress')}">
                        <label class="nazanin ja-optional">آدرس وبسایت</label>
                        <div class="ui input">
                            <input type="text" ng-model="user.websiteAddress" ng-change="vs.check('websiteAddress')" class="ja-align-left" placeholder="you.ir">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('websiteAddress')" ng-bind="vs.error('websiteAddress')"></div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="editAccount()">
                            <span class="nazanin">مرحله بعدی</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>