<div id="ja-panel-password">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>لطفاً کلمه عبور قدیمی و جدید خود را وارد کنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="center aligned row">
            <div class="fourteen wide small eight wide tablet six wide computer column">

                <form class="ui {{ changingPassword ? 'loading' : '' }} form">
                    
                    <div class="field" ng-class="{'error': vs.error('oldPassword')}">
                        <label class="nazanin">کلمه عبور قدیمی</label>
                        <div class="ui input">
                            <input type="password" ng-model="oldPassword" ng-change="vs.check('oldPassword')" ng-class="{'ja-align-left': oldPassword, 'nazanin': !oldPassword}" placeholder="کلمه عبور قدیمی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('oldPassword')" ng-bind="vs.error('oldPassword')"></div>
                    </div>
                    
                    <div class="field" ng-class="{'error': vs.error('newPassword')}">
                        <label class="nazanin">کلمه عبور جدید</label>
                        <div class="ui input">
                            <input type="password" ng-model="newPassword" ng-change="vs.check('newPassword')" ng-class="{'ja-align-left': newPassword, 'nazanin': !newPassword}" placeholder="کلمه عبور جدید">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('newPassword')" ng-bind="vs.error('newPassword')"></div>
                    </div>
                    
                    <div class="field" ng-class="{'error': vs.error('newPasswordAgain')}">
                        <label class="nazanin">تکرار کلمه عبور جدید</label>
                        <div class="ui input">
                            <input type="password" ng-model="newPasswordAgain" ng-change="vs.check('newPasswordAgain')" ng-class="{'ja-align-left': newPasswordAgain, 'nazanin': !newPasswordAgain}" placeholder="تکرار کلمه عبور جدید">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('newPasswordAgain')" ng-bind="vs.error('newPasswordAgain')"></div>
                    </div>
                    
                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="changePassword()">
                            <span class="nazanin">تغییر کلمه عبور</span>
                        </button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>

</div>
