<a class="ja-item ja-text ja-hoverable ja-clickable ja-left nazanin" ng-click="menuHandlers.goToHomeFind()">
    جواب آزمایش
    <img class="ja-menu-item-icon" ng-src="{{iconJs('reader')}}">
</a>

<a class="ja-item ja-text ja-hoverable ja-clickable ja-right nazanin" ng-hide="$state.is('lab.login')" ng-click="menuHandlers.goToLabLogin()">
    ورود مشترکین
    <img class="ja-menu-item-icon" ng-src="{{iconJs('login')}}">
</a>

<a class="ja-item ja-text ja-hoverable ja-clickable ja-right nazanin" ng-show="$state.is('lab.login')" ng-click="menuHandlers.goToLabRegister()">
    ثبت نام
    <img class="ja-menu-item-icon" ng-src="{{iconJs('register')}}">
</a>

<a class="ja-item ja-text ja-hoverable ja-clickable ja-right nazanin ja-more-than-470" ng-click="menuHandlers.goToLabAbout()">
    درباره ما
    <img class="ja-menu-item-icon" ng-src="{{iconJs('about us')}}">
</a>

<a class="ja-item ja-text ja-hoverable ja-clickable ja-right nazanin ja-more-than-380" ng-click="menuHandlers.goToLabContact()">
    تماس با ما
    <img class="ja-menu-item-icon" ng-src="{{iconJs('contact us')}}">
</a>
