<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToLabLogin(); toggleMenu()">ورود مشترکین</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToLabRegister(); toggleMenu()">ثبت نام</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToHomeFind(); toggleMenu()">جواب آزمایش</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToLabAbout(); toggleMenu()">درباره ما</a>
<a class="item nazanin ja-align-right" ng-click="menuHandlers.goToLabContact(); toggleMenu()">تماس با ما</a>
            