<div id="ja-lab-password">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>رمز عبور شما به شماره تلفن ارتباطی آزمایشگاه ارسال شد.</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui form">
                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="menuHandlers.goToLabLogin()">
                            <span class="nazanin">بازگشت به صفحه اصلی</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>