<div id="ja-lab-register">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>لطفاً کادرهای زیر را با دقت پُرکنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ sendingRegisterationForm ? 'loading' : '' }} form" ng-submit="sendRegisterationForm()">

                    <div class="field">
                        <label class="nazanin">نام کامل آزمایشگاه</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.labName" placeholder="نام کامل آزمایشگاه">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin">تلفن همراه ارتباطی</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.mobilePhoneNumber" placeholder="09123456789">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin">تلفن ثابت</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.phoneNumber" placeholder="021-12345678">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin">آدرس</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.address" placeholder="نام شهر - خیابان اصلی - خیابان فرعی - پلاک - واحد">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin">کد پستی</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.postalCode" placeholder="1234567890">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin">آدرس وبسایت</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.websiteAddress" placeholder="example.ir">
                        </div>
                    </div>

                    <p class="nazanin">
                        <bdi>مشخصات شناسه کاربری</bdi>
                    </p>

                    <div class="field">
                        <label class="nazanin">نام کاربری</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.username" placeholder="username">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin">کلمه عبور</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.password">
                        </div>
                    </div>

                    <div class="field">
                        <label class="nazanin">تکرار کلمه عبور</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.passwordAgain">
                        </div>
                    </div>

                    <!--<div vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>-->

                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="model.acceptRules">
                            <label class="nazanin">قوانین و مقررات را می پذیرم</label>
                        </div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit">
                            <span class="nazanin">مرحله بعدی</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>