<div id="ja-lab-register">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>لطفاً کادرهای زیر را با دقت پُرکنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ sendingRegisterationForm ? 'loading' : '' }} form" ng-submit="sendRegisterationForm()">

                    <div class="field" ng-class="{'error': vs.error('labName')}">
                        <label class="nazanin">نام کامل آزمایشگاه</label>
                        <div class="ui input">
                            <input class="nazanin ja-rtl" type="text" ng-model="model.labName" ng-change="vs.check('labName')" placeholder="نام کامل آزمایشگاه">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('labName')" ng-bind="vs.error('labName')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('mobilePhoneNumber')}">
                        <label class="nazanin">تلفن همراه ارتباطی</label>
                        <div class="ui input">
                            <input type="tel" ng-model="model.mobilePhoneNumber" ng-change="vs.check('mobilePhoneNumber')" placeholder="09xxxxxxxxx">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('mobilePhoneNumber')" ng-bind="vs.error('mobilePhoneNumber')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('phoneNumber')}">
                        <label class="nazanin">تلفن ثابت</label>
                        <div class="ui input">
                            <input type="tel" ng-model="model.phoneNumber" ng-change="vs.check('phoneNumber')" placeholder="تلفن ثابت">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('phoneNumber')" ng-bind="vs.error('phoneNumber')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('address')}">
                        <label class="nazanin">آدرس</label>
                        <div class="ui input">
                            <input class="nazanin ja-rtl" type="text" ng-model="model.address" ng-change="vs.check('address')" placeholder="آدرس کامل آزمایشگاه">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('address')" ng-bind="vs.error('address')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('postalCode')}">
                        <label class="nazanin">کد پستی</label>
                        <div class="ui input">
                            <input type="tel" ng-model="model.postalCode" ng-change="vs.check('postalCode')" placeholder="کد پستی 10 رقمی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('postalCode')" ng-bind="vs.error('postalCode')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('websiteAddress')}">
                        <label class="nazanin">آدرس وبسایت</label>
                        <div class="ui input">
                            <input type="url" ng-model="model.websiteAddress" ng-change="vs.check('websiteAddress')" placeholder="you.ir">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('websiteAddress')" ng-bind="vs.error('websiteAddress')"></div>
                    </div>

                    <p class="nazanin">
                        <bdi>مشخصات شناسه کاربری</bdi>
                    </p>

                    <div class="field" ng-class="{'error': vs.error('username')}">
                        <label class="nazanin">نام کاربری</label>
                        <div class="ui input">
                            <input type="text" ng-model="model.username" ng-change="vs.check('username')" placeholder="username">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('username')" ng-bind="vs.error('username')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('password')}">
                        <label class="nazanin">کلمه عبور</label>
                        <div class="ui input">
                            <input type="password" ng-model="model.password" ng-change="vs.check('password', 'passwordAgain')">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('password')" ng-bind="vs.error('password')"></div>
                    </div>

                    <div class="field" ng-class="{'error': vs.error('passwordAgain')}">
                        <label class="nazanin">تکرار کلمه عبور</label>
                        <div class="ui input">
                            <input type="password" ng-model="model.passwordAgain" ng-change="vs.check('password', 'passwordAgain')">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('passwordAgain')" ng-bind="vs.error('passwordAgain')"></div>
                    </div>

                    <div ng-if="showGoogleRecaptcha" vc-recaptcha theme="'light'" key="key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>

                    <br/>

                    <div class="field" ng-class="{'error': vs.error('acceptRules')}">
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="model.acceptRules" ng-change="vs.check('acceptRules')" id="ja-lab-register-acceptRules">
                            <label class="nazanin" for="ja-lab-register-acceptRules">قوانین و مقررات را می پذیرم</label>
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('acceptRules')" ng-bind="vs.error('acceptRules')"></div>
                    </div>

                    <div class="field">
                        <button class="fluid ui blue button" type="submit">
                            <span class="nazanin">مرحله بعدی</span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>