<div id="ja-lab-signedup">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>عملیات ثبت نام شما با موفقیت انجام شد. لطفاً برای نهایی شدن ثبت نام، منتظر تماس اُپراتورهای ما باشید.</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui form">
                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="menuHandlers.goToLabLogin()">
                            <span class="nazanin">بازگشت به صفحه اصلی</span>
                        </button>
                    </div>
                </form>

                <div class="ja-after-form-space" ng-show="showAfterFormSpace"></div>

            </div>
        </div>
    </div>

</div>
