<div id="ja-lab-validate">

    <div class="ui grid">
        <div class="center aligned row">
            <div class="sixteen wide column">

                <p class="nazanin">
                    <bdi>کد اعتبار سنجی به شماره تلفن همراه ارتباطی آزمایشگاه ارسال شد. لطفاً کد دریافتی را در کادر زیر وارد کنید</bdi>
                </p>

            </div>
        </div>
    </div>

    <div class="ui centered grid">
        <div class="fourteen wide small eight wide tablet six wide computer column">
            <div class="center aligned row">

                <form class="ui {{ confirmingRegisteration ? 'loading' : '' }} form">
                    
                    <div class="field" ng-class="{'error': vs.error('validationCode')}">
                        <!--<label class="nazanin">کد اعتبار سنجی</label>-->
                        <div class="ui input">
                            <input type="tel" ng-model="validationCode" ng-change="vs.check('validationCode')" ng-class="{'ja-align-left': validationCode, 'nazanin': !validationCode}" placeholder="کد اعتبار سنجی">
                        </div>
                        <div class="ui pointing red basic label nazanin" ng-if="vs.error('validationCode')" ng-bind="vs.error('validationCode')"></div>
                    </div>
                    
                    <div class="field">
                        <button class="fluid ui blue button" type="submit" ng-click="confirmRegisteration()">
                            <span class="nazanin">ثبت نام</span>
                        </button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>

</div>
